spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:3306/carpmap?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=Europe/Sofia"
    username: root
    password: 12345
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 25MB
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  sql:
    init:
      mode: never
  thymeleaf:
    check-template: false
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
carpmap:
  remember.me.key: ${REMEMBER_ME_KEY}
logging:
  level:
    #    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: INFO
    org.springframework.security: INFO
#    org.apache.coyote.http11.Http11Processor: DEBUG
#    org.apache.tomcat.util.net: DEBUG
mailjet:
  api-key: ${MAILJET_API_KEY}
  secret-key: ${MAILJET_SECRET_KEY}
  from-email: info@carpmap.bg
  from-name: Carpmap.bg




