<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid gallery py-5 my-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Галерия</h5>
        <h1 class="mb-4">Част от държавните язовири в българия</h1>
        <p class="mb-0">Подбрани снимки на държавните язовири в българия
        </p>
    </div>
    <div class="tab-class text-center">
        <!--            <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">-->
        <!--                <li class="nav-item">-->
        <!--                    <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active"-->
        <!--                       th:href="@{/reservoirs/reservoirsAll}">-->
        <!--                        <span class="text-dark" style="width: 150px;">Водоеми</span>-->
        <!--                    </a>-->
        <!--                </li>-->
        <!--            </ul>-->
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn-hover-bg btn btn-primary rounded-pill text-white border-white py-3 px-5 my-3"
               th:href="@{/reservoirs/reservoirsAll}">Водоеми</a>
        </div>
        <div class="tab-content">
            <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/beglika.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/beglika.jpg" data-lightbox="gallery-1" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/beli-iskur.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/beli-iskur.jpg" data-lightbox="gallery-2"
                                   class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/belmeken.png" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/belmeken.png" data-lightbox="gallery-3" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/dospat.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/dospat.jpg" data-lightbox="gallery-4" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/goliam-beglik.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/goliam-beglik.jpg" data-lightbox="gallery-5"
                                   class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/iovkovci.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/iovkovci.jpg" data-lightbox="gallery-6" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/iskur.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/iskur.jpg" data-lightbox="gallery-7" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/jrebchevo.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/jrebchevo.jpg" data-lightbox="gallery-8" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/vucha.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/vucha.jpg" data-lightbox="gallery-9" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/ogosta.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/ogosta.jpg" data-lightbox="gallery-10" class="my-auto"><i
                                        class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div id="GalleryTab-2" class="tab-pane fade show p-0">-->
<!--                <div class="row g-2">-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="GalleryTab-3" class="tab-pane fade show p-0">-->
<!--                <div class="row g-2">-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="GalleryTab-4" class="tab-pane fade show p-0">-->
<!--                <div class="row g-2">-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="GalleryTab-5" class="tab-pane fade show p-0">-->
<!--                <div class="row g-2">-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">-->
<!--                        <div class="gallery-item h-100">-->
<!--                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">-->
<!--                            <div class="gallery-content">-->
<!--                                <div class="gallery-info">-->
<!--                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>-->
<!--                                    <a href="#" class="btn-hover text-white">View All Place <i-->
<!--                                            class="fa fa-arrow-right ms-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="gallery-plus-icon">-->
<!--                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i-->
<!--                                        class="fas fa-plus fa-2x text-white"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
</body>
</html>