<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid gallery py-5 my-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Галерия</h5>
        <h1 class="mb-4">Част от държавните язовири в българия</h1>
        <p class="mb-0">Подбрани снимки на държавните язовири в българия
        </p>
    </div>
    <div class="tab-class text-center">
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn-hover-bg btn btn-primary rounded-pill text-white border-white py-3 px-5 my-3"
               th:href="@{/reservoirs/reservoirsAll}">Водоеми</a>
        </div>
        <div class="tab-content">
            <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/beglika.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Беглика</h5>
                                    <a th:href="@{/reservoirs/16}" class="btn-hover text-white">Виж язовир Беглика <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/beglika.jpg" data-lightbox="gallery-1" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/beli-iskur.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Бели искър</h5>
                                    <a th:href="@{/reservoirs/17}" class="btn-hover text-white">Виж язовир Бели искър<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/beli-iskur.jpg" data-lightbox="gallery-2"
                                   class="my-auto"><i class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/belmeken.png" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Белмекен</h5>
                                    <a th:href="@{/reservoirs/18}" class="btn-hover text-white">Виж язовир Белмекен<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/belmeken.png" data-lightbox="gallery-3" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/dospat.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Доспат</h5>
                                    <a th:href="@{/reservoirs/2}" class="btn-hover text-white">Виж язовир Доспат <i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/dospat.jpg" data-lightbox="gallery-4" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/goliam-beglik.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Голям Беглик</h5>
                                    <a th:href="@{/reservoirs/8}" class="btn-hover text-white">Виж язовир Голям Беглик<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/goliam-beglik.jpg" data-lightbox="gallery-5"
                                   class="my-auto"><i class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/iovkovci.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Йовковци</h5>
                                    <a th:href="@{/reservoirs/9}" class="btn-hover text-white">Виж язовир Йовковци<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/iovkovci.jpg" data-lightbox="gallery-6" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/iskur.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Искър</h5>
                                    <a th:href="@{/reservoirs/1}" class="btn-hover text-white">Виж язовир Искър<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/iskur.jpg" data-lightbox="gallery-7" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/jrebchevo.jpg" class="img-fluid w-100 h-100 rounded"
                                 alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Жребчево</h5>
                                    <a th:href="@{/reservoirs/7}" class="btn-hover text-white">Виж язовир Жребчево<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/jrebchevo.jpg" data-lightbox="gallery-8" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/vucha.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Въча</h5>
                                    <a th:href="@{/reservoirs/19}" class="btn-hover text-white">Виж язовир Въча<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/vucha.jpg" data-lightbox="gallery-9" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="/images/gallery/ogosta.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">Огоста</h5>
                                    <a th:href="@{/reservoirs/25}" class="btn-hover text-white">Виж язовир Огоста<i
                                            class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="/images/gallery/ogosta.jpg" data-lightbox="gallery-10" class="my-auto"><i
                                        class="fas fa-plus fa-1x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>