<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head>-->
<!--    <th:block th:replace="~{fragments/head}"></th:block>-->
<!--</head>-->
<body>
<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>Carp-Map</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Начало</a>
                <a th:href="@{/reservoirs/reservoirsAll}" class="nav-item nav-link">Водоеми</a>
                <a th:href="@{/blog}" class="nav-item nav-link">Блог</a>
                <a th:href="@{/about}" class="nav-item nav-link">За нас</a>
                <div sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin Panel</a>
                    <div class="dropdown-menu m-0">
                        <a sec:authorize="isAuthenticated()"
                           th:href="@{/reservoirs/reservoirsAdd}" class="dropdown-item">Add Reservoir</a>
                        <a href="tour.html" class="dropdown-item">Add blog</a>
                        <a sec:authorize="isAuthenticated() and hasRole('ADMIN')"
                           th:href="@{/profile/profiles}" class="dropdown-item">Manage users</a>
                        <a sec:authorize="isAuthenticated() and hasRole('ADMIN')"
                           href="gallery.html" class="dropdown-item">Ban IP</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div>
                </div>
                <a th:href="@{/contact}" class="nav-item nav-link">Контакти</a>
            </div>
            <a sec:authorize="isAuthenticated()"
               href=""
               class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">
                <form class=" button-logout"
                      th:method="POST"
                      th:action="@{/users/logout}">
                    <input type="submit" class="btn" value="Logout"></input>
                </form>
            </a>
        </div>
    </nav>
</div>
</body>
</html>