<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav th:classappend="${navbar == 'navbar'}
                             ? ''
                             : 'navUsers'"
         class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0 fw-bold">
            <h1 class="m-0"><i class="fa fa-fish me-3"></i>CarpMap</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a th:href="@{/}"
                   th:classappend="${currentUrl  == '/'} ? 'active'"
                   class="nav-item nav-link">Начало</a>
                <a th:if="${false}"
                   th:href="@{/announced}"
                   th:classappend="${currentUrl != null and currentUrl.startsWith('/announced')}  ? 'active'"
                   class="nav-item nav-link disabled"
                   style="background-color: #777f85">Обяви</a>
                <a th:href="@{/fish-list-type/fishing-type}"
                   th:classappend="${currentUrl != null and currentUrl.startsWith('/fish-list-type')} ? 'active'"
                   class="nav-item nav-link">Видове Риби</a>
                <a th:href="@{/reservoirs/reservoirsByType/{type}(type = reservoirs)}"
                   th:classappend="${currentUrl != null and currentUrl.startsWith('/reservoirs/reservoirsByType')} ? 'active'"
                   class="nav-item nav-link">Язовири</a>
                <a th:href="@{/blog}"
                   th:classappend="${currentUrl != null and currentUrl.startsWith('/blog')} ? 'active'"
                   class="nav-item nav-link">Блог</a>
                <a th:href="@{/about}"
                   th:classappend="${currentUrl != null and currentUrl.startsWith('/about')} ? 'active'"
                   class="nav-item nav-link">За нас</a>
                <div sec:authorize="isAuthenticated() and hasRole('MODERATOR')"
                     class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin Panel</a>
                    <div class="dropdown-menu m-0">
                        <a sec:authorize="isAuthenticated() and hasRole('MODERATOR')"
                           th:href="@{/reservoirs/add/reservoirAdd}"
                           class="dropdown-item">Add Reservoir</a>
                        <a sec:authorize="isAuthenticated() and hasRole('MODERATOR')"
                           th:href="@{/fish-list-type/add/adding-fish}"
                           class="dropdown-item">Add fish</a>
                        <a href="tour.html"
                           sec:authorize="isAuthenticated() and hasRole('MODERATOR')"
                           class="dropdown-item">Add blog</a>
                        <a sec:authorize="isAuthenticated() and hasRole('ADMIN')"
                           th:href="@{/admin/profiles}" class="dropdown-item">Manage users</a>
                        <a sec:authorize="isAuthenticated() and hasRole('MODERATOR')"
                           th:href="@{/admin/ip/{type}(type = all)}"
                           class="dropdown-item">Info IP</a>
                        <a sec:authorize="isAuthenticated() and hasRole('MODERATOR')"
                           th:href="@{/admin/server-info}"
                           class="dropdown-item">Server info</a>
                    </div>
                </div>
                <a sec:authorize="!isAuthenticated()"
                   th:href="@{/contact}"
                   th:classappend="${currentUrl != null and currentUrl.startsWith('/contact')} ? ' active'"
                   class="nav-item nav-link">Контакт</a>
            </div>
            <a sec:authorize="isAuthenticated()"
               href=""
               class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">
                <form class=" button-logout"
                      th:method="POST"
                      th:action="@{/users/logout}">
                    <input type="submit" class="btn" value="Logout"></input>
                </form>
            </a>
        </div>
    </nav>
</div>
<!-- Navbar & Hero End -->
</body>
</html>