<!-- SCALE -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<div class="scale">
    <h6 class="scale-title">Наличен Обем Вода</h6>

    <div class="bar-wrapper">
        <i class="fa-solid fa-triangle-exclamation warn yellow"
           th:if="*{fillPercentage} < 50 and *{fillPercentage} >= 35"></i>

        <i class="fa-solid fa-triangle-exclamation warn red"
           th:if="*{fillPercentage} < 35 and *{fillPercentage} >= 25"></i>

        <i class="fa-solid fa-skull crit" th:if="*{fillPercentage} < 25"></i>

        <div class="bar-container" role="progressbar"
             aria-valuemin="0" aria-valuemax="100"
             th:aria-valuenow="*{fillPercentage}">
            <div class="bar"
                 th:style="'width:' + *{fillPercentage} + '%'"
                 th:classappend="*{fillPercentage} <= 30 ? 'low' : (*{fillPercentage} <= 70 ? 'medium' : 'high')">
        <span class="bar-pill"
              th:classappend="*{fillPercentage} < 14 ? ' outside' : ''"
              th:text="*{fillPercentage + '%'}"></span>
            </div>
        </div>
    </div>
</div>

<hr style="margin:0">

<div class="scale">
    <h6 class="scale-title">Наличен Полезен Обем Вода</h6>

    <div class="bar-wrapper">
        <i class="fa-solid fa-triangle-exclamation warn yellow"
           th:if="*{volumePercentage} < 50 and *{volumePercentage} >= 35"></i>

        <i class="fa-solid fa-triangle-exclamation warn red"
           th:if="*{volumePercentage} < 35 and *{volumePercentage} >= 25"></i>

        <i class="fa-solid fa-skull crit" th:if="*{volumePercentage} < 25"></i>

        <div class="bar-container" role="progressbar"
             aria-valuemin="0" aria-valuemax="100"
             th:aria-valuenow="*{volumePercentage}">
            <div class="bar"
                 th:style="'width:' + *{volumePercentage} + '%'"
                 th:classappend="*{volumePercentage} <= 30 ? 'low' : (*{volumePercentage} <= 70 ? 'medium' : 'high')">
        <span class="bar-pill"
              th:classappend="*{volumePercentage} < 24 ? ' outside' : ''"
              th:text="*{volumePercentage + '%'}"></span>
            </div>
        </div>
    </div>
</div>
<!-- SCALE END -->
<div class="flow-row my-4"
     th:if="*{inflow_m3s != null or outflow_m3s != null}">
    <div class="chip inflow"
         th:if="*{inflow_m3s} != null"
         th:with="val=*{inflow_m3s}">
        <i class="fa-solid fa-arrow-down"></i>
        <span th:text="|приток : *{inflow_m3s}|"></span>
        <small> м³/сек</small>
    </div>

    <div class="chip outflow"
         th:if="*{outflow_m3s} != null"
         th:with="val=${outflow_m3s}">
        <i class="fa-solid fa-arrow-up"></i>
        <span th:text="|разход : *{outflow_m3s}|"></span>
        <small> м³/сек</small>
    </div>

</div>
