<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid subscribe py-5">
    <div class="container text-center py-5">
        <div class="mx-auto text-center" style="max-width: 900px">
            <h5 class="subscribe-title px-3">АБОНИРАЙ СЕ</h5>
            <h1 class="text-white mb-4">Добави твоя язовир</h1>
            <p class="text-white mb-5">Свържете с нас от контакти за да ви кажем каква информация ни е нужна за да
                добавим вашия язовир</p>
            <div class="d-flex align-items-center justify-content-center">
                <a class="btn-hover-bg btn btn-primary rounded-pill text-white border-white py-2 px-5"
                   th:href="@{/contact}">Контакти</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>