<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-primary px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                   target="_blank"
                   href="https://www.facebook.com/Carpoholics"><i
                        class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                   target="_blank"
                   href=""><i
                        class="fab fa-instagram fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
                   target="_blank"
                   href="https://www.youtube.com/@carpoholics_bg"><i
                        class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <!--                <th:block sec:authorize="isAuthenticated()">-->
                <!--                    <a href="#" class="me-3 text-light"><i class="fas fa-user-alt me-2"></i> Welcome ,-->
                <!--                        <span sec:authentication="name"></span></a>-->
                <!--                </th:block>-->
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/users/register}">
                    <small class="me-3 text-light">
                        <i class="fa fa-user me-2"></i>Register</small></a>
                <a sec:authorize="!isAuthenticated()" th:href="@{/users/login}">
                    <small class="me-3 text-light">
                        <i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
                <div sec:authorize="isAuthenticated()"
                     class="dropdown">
                    <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i
                            class="fa fa-home me-2"></i> My Dashboard</small></a>
                    <div class="dropdown-menu rounded">
                        <a href="#" class="dropdown-item text-center text-info">Welcome,
                            <span sec:authentication="name"></span></a>
                        <th:block sec:authorize="hasRole('ADMIN')">
                            <a href="#" class="dropdown-item text-center text-info"><b>ADMIN</b></a>
                        </th:block>
                        <th:block sec:authorize="hasRole('MODERATOR') and !hasRole('ADMIN')">
                            <a href="#" class="dropdown-item text-center text-info"><b>MODERATOR</b></a>
                        </th:block>
                        <th:block sec:authorize="hasRole('USER') and !hasRole('ADMIN') and !hasRole('MODERATOR')">
                            <a href="#" class="dropdown-item text-center text-info"><b>USER</b></a>
                        </th:block>

                        <a th:href="@{/profile/details}" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My
                            Profile</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

</body>
</html>