.text-bold {
    font-weight: 800;
}

text-color {
    color: #0093c4;
}

/* Main image - left */
.main-img img {
    width: 100%;
}

/* Preview images */
.previews img {
    width: 100%;
    height: 140px;
}

.main-description .category {
    /*text-transform: uppercase;*/
    color: #0093c4;
}

.main-description .product-title {
    font-size: 1rem;
}

.old-price-discount {
    font-weight: 600;
}

.new-price {
    font-size: 2rem;
}

.details-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #757575;
}

.buttons .block {
    margin-right: 5px;
}

.quantity input {
    border-radius: 0;
    height: 40px;

}


.custom-btn {
    text-transform: capitalize;
    background-color: #0093c4;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: #0093c4 !important;
    font-size: 18px;
    color: white !important;
}

.similar-product img {
    height: 400px;
}

.similar-product {
    text-align: left;
}

.similar-product .title {
    margin: 17px 0px 4px 0px;
}

.similar-product .price {
    font-weight: bold;
}

.questions .icon i {
    font-size: 2rem;
}

.questions-icon {
    font-size: 2rem;
    color: #0093c4;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Make preview images responsive  */
    .previews img {
        width: 100%;
        height: auto;
    }

}

/* ========== Cards for reservoirs  NEW ========== */
.reservoir-card {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.reservoir-card:hover {
    transform: scale(1.01);
}

/* Заглавие */
.reservoir-card .category {
    color: #0077b6;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

/* Снимка */
.reservoir-card .img-detail {
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* Текстовите блокове */
.reservoir-card .product-title {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

/* Информация бутон */
/*.reservoir-card .btn {*/
/*    background-color: #0077b6;*/
/*    border: none;*/
/*}*/

/*.reservoir-card .btn:hover {*/
/*    background-color: #0093c4;*/
/*}*/

/* Търсачка */
.searchIp input.form-control {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}

.searchIp .btn-primary {
    background-color: #0077b6;
    border: none;
}

.searchIp .btn-primary:hover {
    background-color: #0093c4;
}

/*RESERVOIR DETAILS */


