<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>CarpMap ERROR</title>
    <meta http-equiv="refresh" content="5;url=/reservoirs/reservoirsByType/reservoirs">
</head>
<body>

<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>

<main>
    <!-- 404 Start -->
    <div class="container-fluid py-5"
         style="background: linear-gradient(rgba(19, 53, 123, 0.3), rgba(19, 53, 153, 0.3)); object-fit: cover;">
        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1">ERROR 404</h1>
                    <h1 class="mb-4 text-dark">Page Not Found</h1>
                    <p class="mb-4 text-dark">We’re sorry, the page you have looked for does not exist in our website!
                        Maybe go to our home page or try to use a search?</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->

    <th:block th:replace="~{fragments/footer}"></th:block>
    <th:block th:replace="~{fragments/js}"></th:block>
</main><!-- End #main -->

<!-- Back to Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

</body>
</html>