<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>За нас - Carpmap.bg</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
    <meta name="description" content="Информация за нас Carpmap.bg">
    <meta name="author" content="Nikolay">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Информация за нас Carpmap.bg">
    <meta property="og:description" content="Информация за нас Carpmap.bg">
    <meta property="og:url" content="https://carpmap.bg//about">
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1712865487/Carp/about/vg3rri1sgcscizpy1wia.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Язовирите в България - Carpmap.bg">
    <meta name="twitter:description" content="Всички язовири в България">
    <meta name="twitter:url" content="https://carpmap.bg/about">
    <meta name="twitter:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/p39fszwndstrcyovmpxk.jpg">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="bg_BG">
    <th:block th:replace="~{fragments/head}"></th:block>
    <th:block th:replace="~{fragments/analytics}"></th:block>
</head>
<body>

<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<div class="container-fluid bg-breadcrumb aboutUs">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4 aboutUsh1Tag">Кои сме ние ?</h1>
    </div>
</div>
<main>
    <div class="container-fluid about py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5">
                    <div class="h-100" style=" border-color: transparent #13357B transparent #13357B;">
                        <img src="https://res.cloudinary.com/dsy8h2u3x/image/upload/c_crop,g_auto,h_1200,w_1200/Carp/about/vg3rri1sgcscizpy1wia.jpg"
                             class="img-fluid w-100 h-100" alt="">
                    </div>
                </div>
                <div class="col-lg-7"
                     style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(/images/about-img-1.png);">
                    <h5 class="section-about-title pe-3">За нас</h5>
                    <h1 class="mb-4">Здравейте, ние сме от: <span class="text-primary">Carpoholics Team</span></h1>
                    <p class="mb-4">Carpoholics team</p>
                    <p class="mb-4">Carpoholics team е създаден през 2015 година с цел хоби</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Шаранджийски риболов</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Риболов само на язовири
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Риболов на дъно</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Търсене на най-големите
                                шарани</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Риболов на над 20 водоема
                                в България</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Carpmap.bg</p>
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid guide py-5">
        <div class="container py-2">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Carpoholics TEAM</h5>
                <h1 class="mb-0">Това е нашият екип</h1>
            </div>
            <div class="row g-4 text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="guide-item">
                        <div class="guide-img">
                            <div class="guide-img-efects">
                                <img src="/images/271601007_4801069079915489_7255675177494747930_n.jpg"
                                     class="img-fluid w-100 rounded-top" alt="Image">
                            </div>
                            <div class="guide-icon rounded-pill p-2">
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href="https://www.facebook.com/profile.php?id=100000373345865"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="guide-title text-center rounded-bottom p-4">
                            <div class="guide-title-inner">
                                <h4 class="mt-3">Anton Ivanov</h4>
                                <p class="mb-0">Boss</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="guide-item">
                        <div class="guide-img">
                            <div class="guide-img-efects">
                                <img src="/images/zerga.jpg"
                                     class="img-fluid w-100 rounded-top" alt="Image">
                            </div>
                            <div class="guide-icon rounded-pill p-2">
                            </div>
                        </div>
                        <div class="guide-title text-center rounded-bottom p-4">
                            <div class="guide-title-inner">
                                <h4 class="mt-3">Radoslav Vasilev</h4>
                                <p class="mb-0">Carp Fisher</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="guide-item">
                        <div class="guide-img">
                            <div class="guide-img-efects">
                                <img src="/images/277348542_5331251560231792_5412271903652794342_n.jpg"
                                     class="img-fluid w-100 rounded-top" alt="Image">
                            </div>
                            <div class="guide-icon rounded-pill p-2">
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href="https://www.facebook.com/Psyhopath/"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href="https://www.instagram.com/maddeniggaz/"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="guide-title text-center rounded-bottom p-4">
                            <div class="guide-title-inner">
                                <h4 class="mt-3">Nikolay Ivanov</h4>
                                <p class="mb-0">Web Development</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="guide-item">
                        <div class="guide-img">
                            <div class="guide-img-efects">
                                <img src="/images/hriss.jpg"
                                     class="img-fluid w-100 rounded-top" alt="Image">
                            </div>
                            <div class="guide-icon rounded-pill p-2">
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href="https://www.facebook.com/profile.php?id=100003272222702"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1"
                                   href=""><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="guide-title text-center rounded-bottom p-4">
                            <div class="guide-title-inner">
                                <h4 class="mt-3">Hristina Hristova</h4>
                                <p class="mb-0">Content Writer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <th:block th:replace="~{fragments/subscribe}"></th:block>
    </div>
</main>
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
<th:block th:replace="~{fragments/js}"></th:block>
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</body>
</html>