<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Carp Map</title>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>

<th:block th:replace="~{fragments/navbar}"></th:block>

<main>

    <section class="section table-users">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">All users</h2>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12">
                    <h4 class="text-center mb-4">Information about users</h4>
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr>
                                <th>ID</th>
                                <th>First name</th>
                                <th>Last Name</th>
                                <th>@Username</th>
                                <th>Role</th>
                                <th>Added</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each=" profile : ${allProfiles.getContent()}"
                               th:object="${profile}" >
                                <th scope="row" class="scope" th:text="${profile.id}" >.com</th>
                                <td th:text="*{firstName}">1 Year</td>
                                <td th:text="*{lastName}">$70000000.00</td>
                                <td th:text="*{username}">$5.00</td>
                                <td th:text="*{role}">Role</td>
                                <td th:text="*{createOn}">$5.00</td>
                                <td><a href="#" class="btn btn-primary"
                                       th:href="@{/admin/details/byId/{id}(id = *{id})}">Details</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul th:fragment="ALL" class="pagination text-center">
            <li th:class="${!allProfiles.hasPrevious()} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:if="${allProfiles.hasPrevious()}"
                   th:href="@{/profile/profiles(page=${allProfiles.previousPageable().pageNumber})}">Previous</a>
            </li>

            <li th:each="i : ${#numbers.sequence(0, allProfiles.totalPages - 1)}"
                th:class="${i == allProfiles.number} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:href="@{/profile/profiles(page=${i})}" th:text="${i + 1}"></a>
            </li>

            <li th:class="${!allProfiles.hasNext()} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:if="${allProfiles.hasNext()}"
                   th:href="@{/profile/profiles(page=${allProfiles.nextPageable().pageNumber})}">Next</a>
            </li>
        </ul>
    </nav>
    <br>
    <th:block th:replace="~{fragments/footer}"></th:block>
    <th:block th:replace="~{fragments/js}"></th:block>

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


</body>

</html>