<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Cookie - Carpmap.bg</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
</head>
<style>
    .responsive-text {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
</style>
<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<main>
    <!-- Donate -->
    <div class="container-fluid py-5"
         style="background: linear-gradient(rgba(19, 53, 123, 0.3), rgba(19, 53, 153, 0.3)); object-fit: cover;">
        <div class="container py-5 text-center">
            <div class="row justify-content-center donate">
                <div class="col-lg-12">
                    <h1 class="display-4">Политика за бисквитки</h1>
                    <p class="mb-4 text-dark responsive-text text-start">Политика на поверителност
                        Какво представлява „бисквитката” (cookie)?
                        “Бисквитката” (cookie) представлява малък по обем файл, съдържащ в себе си текстова информация.
                        Сайта, който посещавате, прехвърля такъв тип файлове и времето, през което те ще бъдат
                        съхранявани на хард-диска Ви, зависи от вида „бисквитка”. „Бисквитките” изпълняват различни
                        функции и се използват предимно:
                        за да ви разграничават от останалите потребители на конкретния уебсайт
                        за да събират информация, свързана с Вашите предпочитания в уеб пространството
                        за да улеснят Вашето сърфиране
                        Защо се използват „бисквитки” (cookies)? „Бисквитките” се използват, за да съберат анонимна
                        информация за потребителя на съответния уебсайт като това ще спомогне да се оптимизира и
                        адаптира съдържанието на уебсайта според предпочитанията на потребителя.
                        Колко дълго остават бисквитките на Вашия компютър?
                        Бисквитки на сесии – този тип „бисквитки” траят до затваряне на браузъра и не се запазват на
                        хард-диска на Вашия компютър.
                        Постоянни бисквитки – този тип „бисквитки” се съхраняват на вашия хард-диск, докато бъдат
                        премахнати (изтрити) от вас или докато изтече срокът им.
                        Основните видове „бисквитки”, които попадат на хард-диска Ви са:
                        Собствени „бисквитки” или т.нар. „бисквитки” от първа страна – това са бисквитките, които
                        поставяме на Вашия хард-диск, за да отчетем колко време прекарвате на нашия сайт, колко чести са
                        посещенията Ви, какви са предпочитанията Ви според страниците, които посещавате и други.
                        Сесийни „бисквитки” – този тип бисквитки остават на Вашия хард-диск и се съхраняват там, докато
                        трае посещението Ви в сайта.
                        „Бисквитки” на социалните мрежи – тези бисквитки се поставят от социалните мрежи (напр.
                        Facebook) и операторите на който и да е уебсайт нямат контрол над тях. За да проверите как и в
                        какви случаи се използват този тип “бисквитки” може да разберете от правилата за използване на
                        конкретната социална мрежа.
                        Управление на „бисквитките” и как можете да се откажете от вече дадено съгласие за тяхната
                        употребата: Това може да стане от настройките на Вашия браузър. По-голямата част от браузърите
                        позволяват сами да управлявате „бисквитките”, в това число да приемете или отхвърлите всички
                        „бисквитки” или да приемето само някои от тях. За да намерите информация как да управлявате
                        „бисквитките”, посетете секция „Помощ” или „Настройки” на браузъра.
                        Този уебсайт използва следните ”бисквитки”:
                        Сайтът ................. използва Google Analytics – онлайн платформа за уеб анализи от Google
                        Inc. Google Analytics генерира „бисквитки”, които се съхраняват на хард-диска Ви с цел да
                        анализират Вашите дейсвтия в уебсайта и цялата информация, която „бисквитката” събира за Вас
                        като онлайн потребител се изпраща за анализи към сървър на Google в САЩ.
                        Ремаркетинг – този сайт използва ремаркетинг с Google Analytics, което дава възможността Вие
                        като потребител да виждате реклами извън нашия сайт, които отговарят на интересите и
                        предпочитанията Ви. Всичко това се осъществява с бисквитката Double Click и Google Ви дава
                        възможност да се откажете от нея като посетите страницата за отказване на реклами на Google.
                        Плъгини на социалните мрежи – на този уебсайт използва плъгини на социалните мрежи Facebook,
                        Google +, Twitter и Pinterest. На определени страници в сайта (например детайлна страница на
                        продукт) са разположени бутони на социалните мрежи. Ако сте влезли в профила си в една от
                        социалните мрежи по време на посещението в нашия уебсайт, то социалната мрежа може да свърже
                        достъпа до уебсайта ни с Вашия профил. След което всяко едно действие, свързано с използване на
                        някои от бутоните за споделяне, харесване и т.н. на социалните мрежи, ще бъде предадено и
                        съхранено на съответната социална мрежа, така че Вашите приятели/последователи ще могат да видят
                        харесаната или споделена от Вас информация от конкретния уебсайт. Ако не желаете социалните
                        мрежи да свързват посещението Ви в нашия уебсайт с профилите Ви, трябва да излезнете от профила
                        си на социалната мрежа преди да посетите този уебсайт.
                        Всички данни на потребителите, събрани чрез използването на „бисквитки” са анонимни и се
                        използват само и единствено с маркетингова цел, за анализи на потребителското поведение, за
                        оптимизиране и подобряване на съдържанието на уебсайта и определеляне на предпочитанията и
                        интересите на потребителите.
                        Обработване на лични данни с цел пазаруване през онлайн магазина и посещение на уебсайта
                        На нашия уебсайт можете да пазарувате онлайн. Може да използвате тази услуга без регистрация.
                        Данните, предоставени и случая, ще бъдат използвани само и единствено с цел осъществяване
                        дейността по поръчката. Допълнително имате възможност да се абонирате за нашия бюлетин, като
                        недаването на съгласие за това по никакъв начин не пречи да станете клиент на нашия онлайн
                        магазин.
                        Моля, преди да се регистрирате да се запознаете в подробности с това кои сме ние и какви са
                        целите и сроковете, за които обработваме личните Ви данни.
                        При обработването на лични данни ........... спазва законовата и подзаконовата нормативна
                        уредба, приложима в България във връзка със защита на личните данни, включително, но не само,
                        Регламент (ЕС) 2016/679 („Регламент“).
                        Сключване на договор:
                        С натискането на бутон „Регистрация“ и потвърждавайки получения имейл за регистрация, Вие
                        извършвате електронно изявление, с което сключвате договор с Нас при тези Условия и се
                        задължавате да ги спазвате. Преди натискането на бутона „Завърши поръчката“ имате възможност да
                        прегледате и редактирате посочената от Вас информация. Вие приемате, че електронните изявления
                        към ............ и електронните изявления от .............. към Вас се считат за подписани с
                        обикновен електронен подпис съобразно чл. 3, параграф 10 от Регламент (ЕС) № 910/2014, със
                        силата на саморъчен подпис.
                        С даване на своето съгласие за регистраия и завършване на поръчка се съгласявате
                        ......фирма....адрес......., наричано за краткост .........името на фирмата......, да ползва
                        предоставените от Вас лични данни – електронна поща, име, фамилия, адрес (държава, град/село,
                        пощенски код), телефон. В случай че искате фактура, трябва да дадете изрично съгласие
                        .......името на фирмата.......... да използва необходимите за издаването й данни
                        Като допълнение ........името на фирмата......... съхранява информация за извършването на
                        регистрацията и съгласяването с Условията (дата, час и IP адрес)., както и поддържа лог на факта
                        на изпращане на изявлението (без неговото съдържание) за период от 1 /една/ година. Логът
                        съдържа дата на изявлението, име и имейл адрес на подателя, както и идентификация на получателя.
                        При обработката на личните Ви данни няма да бъдете обект на решение, основаващо се единствено на
                        автоматизирано обработване, включващо профилиране.
                        Цели на обработване:
                        Личните Ви данни ще бъдат обработвани и съхранявани за цели, необходими за сключването и
                        изпълнението на договора за предоставяне на услугите по осъществяване на поръчката Ви; за цели,
                        необходими за защита и прилагане на легитимните интереси на ........името на фирмата........ и
                        цeли, свързани със спазване на законовите задължения на ........името на фирмата.........
                        Цел: Сключване и изпълнение на договор:
                        Това са целите, необходими за стъпките по сключването и изпълнението на договора между Вас и
                        ........името на фирмата........, включително необходимото за това обработване на данни при
                        извършване на регистрация, създаване на акаунт и дейностите по осъществяване на поръчката Ви. В
                        допълнение тези цели включват комуникацията с Вас, включително по електронна поща, необходима
                        във връзка с предоставяне на услугите и/или уведомяването Ви за промени в предоставяните услуги.
                        За целта може да е необходимо обработване на част или на всички посочени по-горе категории
                        данни.
                        Цел: Легитимен интерес:
                        Това са цели, свързани със законните интереси на ........името на фирмата........E, като:
                        осигуряване на нормалното функциониране и използване на Сайта от Ваша страна и от страна на
                        другите потребители; поддръжка и администриране на Услугите; разрешаване на възникнали спорове;
                        установяване и предотвратяване на злонамерени действия; откриване и разрешаване на технически
                        проблеми или проблеми с функционалността; развитие и подобряване на Услугите; осъществяване на
                        комуникация с Вас, включително по електронен път, по важни въпроси, свързани с Услугите;
                        осъществяване и закрила на правата и законните интереси на ........името на фирмата........,
                        включително и по съдебен ред. За тези цели е възможно да е необходимо обработване на част или на
                        всички посочени по-горе категории.
                        Цел: Законови задължения:
                        Целите, свързани със спазване на законовите задължения на ........името на фирмата........,
                        включват: изпълнение на предвидени в закона задължения за запазване или предоставяне на
                        информация при постъпване на съответно разпореждане от компетентни държавни или съдебни органи;
                        осигуряване на възможност за осъществяване на контролните правомощия на компетентните държавни
                        органи при изпълнение на законовите задължения на ........името на фирмата........ да Ви
                        уведомява за различни обстоятелства, свързани с Вашите права, с предоставяните Услуги, със
                        защитата на данните Ви и др.
                        Срокът, за който ще бъдат обработвани Вашите данни е не повече от минимално необходимия за тази
                        цел след приключване на всички дейности по осъществяване на поръчката Ви. С цел подсигуряване на
                        надеждността на услугите и предпазване от загуба на данни по технически причини, в Сайта се
                        прилага политика на пазене на Backup (резервно копие) на данните. Максималният период за
                        актуализация (вкл. изтриване на данни) на всички резервни копия е 60 дни
                        Вашите лични данни ще бъдат обработвани изцяло на територията на Република България и няма да
                        бъдат предоставяни на трети лица, освен в случай че: сте поискали доставка на поръчаната от Вас
                        стока извън територията на Република България; при уеб анализ, извършван от Google; ако
                        използвате плъгини или социалните мрежи, при условия уредени по-долу.
                        В случай на поискана доставка, част от данните Ви – имена, адрес и телефон – ще бъдат
                        предоставени на Еконт , които ще извършат доставката.
                        Други случаи, в които Ваши лични данни могат да бъдат предоставени на трети лица, са: само
                        когато това е предвидено в закон; ако това бъде поискано по надлежен начин от компетентен
                        държавен или съдебен орган; когато сме получили Вашето изрично съгласие за това; когато това се
                        налага за защитата на права и законни интереси на ........името на фирмата.........
                        Личните Ви данни ще бъдат съхранявани според законовите изисквания за защита на личните данни в
                        електронен формат в следния поддържан от Администратора електронен регистър: „Регистър Поръчки
                        от Онлайн Магазин“ за срок не повече от минимално необходимия за тази цел след приключване на
                        всички дейности по осъществяване на поръчката Ви.
                        Вашите права:
                        Можете да получите информация от Администратора за съхраняваните от него Ваши лични данни по
                        всяко време и имате правото на достъп до тях.
                        Можете да поискате личните Ви данни да бъдат коригирани по всяко време в случай на неточност
                        и/или несъответствие.
                        Запознат съм със задължението си да уведомя Администратора за всяка промяна в личните ми данни.
                        Можете да поискате изтриване на Вашите лични данни или да изискате от Администратора
                        ограничаване на обработването.
                        Имате право на възражения и жалби във връзка с обработването и съхранението на личните Ви данни
                        пред Комисия за защита на личните данни, адрес: гр. София, бул. „Проф. Цветан Лазаров” № 2.,
                        която е надзорен орган в Република България.
                        Имате право по всяко време и на основания, свързани с конкретна ситуация, на възражение срещу
                        обработване на лични данни, въз основа на легитимния интерес.
                        В случай на нарушение на сигурността на личните Ви данни, ако има вероятност нарушението да
                        породи висок риск за правата и свободите Ви, съгласно вътрешните правила на Администратора, ще
                        бъдете уведомен за същото.
                        Имате право да поискате да получите личните си данни, които сте предоставили и които се отнасят
                        до Вас, в структуриран, популярен формат, пригоден за машинно четене, както и да използвате тези
                        данни за друг администратор по своя преценка.
                        В случай че обработваме личните Ви данни поради дадено от Вас съгласие при записването Ви за
                        получаване на бюлетин, то тогава може да оттеглите същото по всяко време.
                        За осъществяване на всяко едно от тези права е нужно да се изпрати искане по ел. поща,
                        формулирано в свободен текст и адресирано до Длъжностното лице по защита на данните на
                        ........името на фирмата........ на следния електронен адрес:....email на фирмата.........или на
                        място в ..........адрес на фирмата. Формулировката на искането е свободна, но следва да съдържа
                        следната информация:
                        1.име, адрес и други данни за идентифициране на съответното физическо лице;
                        описание на искането;
                        предпочитана форма за комуникация – по електронна поща или на хартиен носител, както и действия
                        по чл. 15-22 от Регламент (ЕС) 2016/679.
                        Използване на собствени бисквитки
                        За да направим посещението на нашия уебсайт атрактивно и да дадем възможност за използването на
                        определени функции, в различни страници ние използваме така наречените бисквитки. Това са малки
                        текстови файлове, които се съхраняват на Вашето устройство. Някои от използваните от нас
                        бисквитки се изтриват в края на сесията на браузъра, т.е. след като го затворите (така
                        наречените бисквитки за сесия). Други бисквитки остават на Вашето устройство и позволяват на нас
                        или на нашите партньорски компании да разпознаваме Вашия браузър при следващото Ви посещение
                        (така наречените постоянни бисквитки). Посредством бисквитките не може нито да се получи достъп
                        до други файлове на компютъра Ви, нито да се научи имейл адреса Ви. Правното основание за
                        обработка на лични данни при използване на бисквитки е чл. 6 параграф 1 ал. 1 буква е) от GDPR.
                        Бисквитките се запаметяват на Вашето устройство и Вие можете изцяло да контролирате тяхното
                        използване. Чрез промяна в настройките на интернет браузъра можете да деактивирате или
                        ограничите прилагането на бисквитки. Запаметените вече бисквитки могат да бъдат изтрити по всяко
                        време. Това може да става и автоматично. Ако бисквитките бъдат деактивирани за нашия уебсайт,
                        може да не бъдете в състояние да използвате всички функции в пълния им обхват.
                        Контрол на бисквитите в браузъра
                        Ако впоследствие не искате да събираме и анализираме информация относно Вашето посещение, можете
                        по всяко време да се откажете от това.
                        За техническото осъществяване на този отказ във Вашия браузър се поставя съответния маркер в
                        положение Off. Тази бисквитка служи единствено за регистрирането на вашия отказ. Моля имайте
                        предвид, че поради технически причини бисквитките могат да се използват само за браузъра, от
                        който са зададени. Ако изтриете бисквитките или използвате друг браузър или устройство, трябва
                        отново да зададете желания от Вас избор.
                        Предаване на личните данни на трети лица
                        ..........това не знам дали ни трябва...........Ние използваме MailChimp като наша
                        автоматизирана маркетинг платформа. Давайки съгласието си тази информация да бъде препратена на
                        MailChimp за обработване в съответствие с Правилата за поверителност на MailChimp. Към днешна
                        дата The Rocket Science Group LLC е организацията, която притежава платформата за управление на
                        имейл кампании, която използваме. Тя е базирана в САЩ. Това означава, че Вашите лични данни се
                        съхраняват и обработват на сървъри на платформата, които се намират на територията на САЩ, която
                        се приема от ЕС като държава, която гарантира адекватна степен на защита за личните данни, които
                        се предават към организации в САЩ, включени в списъка към Щита за личните данни в отношенията
                        между ЕС и САЩ. The Rocket Science Group LLC е включена в този списък, което осигурява защита на
                        личните Ви данни в САЩ съгласно всички приложими изисквания на европейското законодателство.
                        Уеб анализ с Google Analytics
                        Този уебсайт използва Google Analytics – услуга за уеб анализ на Google Inc., 1600 Amphitheatre
                        Parkway, Mountain View, CA 94043, USA (“Google”). Google Analytics използва т.нар. бисквитки,
                        т.е. текстови файлове, запаметявани на Вашия компютър, за да се позволи анализ на Вашето
                        използването на уебсайта. Информацията, събирана чрез бисквитките за Вашето използване на този
                        уебсайт, обикновено се предава към сървър на Google в САЩ и се съхранява там.
                        Нашият сайт използва Google Analytics с разширението „анонимизирано IP“. Това означава, че в
                        държавите-членки на Европейския съюз или в други държави, които са страни по споразумението за
                        Европейско икономическо пространство, Вашият събран от бисквитките на Google-Analytics IP адрес
                        ще бъде отрязан от Google преди предаването му в САЩ. Само в изключителни случаи пълният IP
                        адрес ще се предава към сървър на Google в САЩ и ще бъде отрязан там. По поръчка на
                        ........името на фирмата........ Google използва тази информация, за да оценява Вашето
                        използване на уебсайта, да изготвя доклади за дейности на уебсайта и да предоставя на оператора
                        на уебсайта допълнителни услуги, свързани с използването на уебсайта и Интернет. IP адресът,
                        изпращан от Вашия браузър в контекста на Google Analytics, няма да бъде сливан с другите данни
                        от Google.
                        Можете да предотвратите записването на бисквитки чрез съответна настройка в софтуера на Вашия
                        браузър; моля, имайте предвид, че в този случай може да не бъдете в състояние да използвате
                        всички функции, предлагани от този уебсайт. Можете да предотвратите събирането и обработването
                        на данните, получени чрез бисквитките и отнасящи се до Вашето използване на уебсайта
                        (включително Вашия IP адрес), като изтеглите и инсталирате плъгин за браузър от следния линк:
                        http://tools.google.com/dlpage/gaoptout?hl=de.
                        Детайлна информация за условията на ползване и защитата на данни ще намерите на
                        www.google.com/analytics/terms/de.html или на
                        www.google.com/intl/de/analytics/privacyoverview.html.
                        Правно основание за обработката на лични данни при използване на бисквитки е чл. 6 параграф 1
                        ал. 1 буква е) от GDPR.
                        Използване на функцията на Google Inc. ремаркетинг или „Подобни целеви групи“
                        На уебсайта SÈLESTRE използва функцията ремаркетинг или „Подобни целеви групи“ на Google Inc.,
                        1600 Amphitheatre Parkway, Mountain View, CA 94043, USA („Google”). Посредством тази функция
                        SÈLESTRE може целенасочено да показва реклама на посетителите на уебсайта, персонализирана
                        според интересите им, когато те посещават други уебсайтове в дисплейната мрежа на Google. За
                        извършване на анализ за използването на уебсайтовете, който формира основата за създаването на
                        рекламните съобщения според интересите, Google използва така наречените бисквитки. За тази цел
                        Google запаметява малък файл с последователност от числа в браузърите на посетителите на
                        уебсайта. Посредством това число се регистрират посещенията на уебсайта, както и анонимизираните
                        данни за използването на уебсайта. Това не извършва запаметяване на лични данни на посетителите
                        на уебсайта. Посетите ли след това друг уебсайт в дисплейната мрежа на Google, ще Ви бъдат
                        показани вмъкнати рекламни съобщения, за които с голяма вероятност ще бъдат взети предвид
                        посетените преди това продуктови и информационни рубрики. Допълнителна информация за Google
                        ремаркетинг, както и декларацията за защита на данните на Google, можете да видите на:
                        http://www.google.com/privacy/ads/.
                        Можете да деактивирате трайно използването на бисквитки от Google, като последвате долния линк и
                        изтеглите и инсталирате предоставения там плъгин: https://www.google.com/settings/ads/plugin.
                        Алтернативно можете да деактивирате използването на бисквитки от трети доставчици, като отворите
                        страницата за деактивиране на Инициатива за мрежова реклама (Network Advertising Initiative) от
                        http://www.networkadvertising.org/choices/ и приложите поместената там допълнителна информация
                        за отказ.
                        Правно основание за обработката на лични данни при използване на бисквитки е чл. 6 параграф 1
                        ал. 1 буква е) от GDPR.
                        Doubleclick от Google
                        Doubleclick (двоен клик) от Google е услуга на Google Inc., 1600 Amphitheatre Parkway, Mountain
                        View, CA 94043, USA (“Google”). Doubleclick на Google използва бисквитки, за да Ви представя
                        важни за Вас рекламни съобщения. При това Вашият браузър получава псевдонимен идентификационен
                        номер (ID), за да провери кои рекламни съобщения се включват във Вашия браузър и кои биват
                        извиквани. Бисквитките не съдържат лична информация. Използването на DoubleClick бисквитки дава
                        възможност на Google и партньорските му уебсайтове за показване на рекламни съобщения въз основа
                        на предишни посещения на нашия или на други уебсайтове в интернет. Събраната чрез бисквитките
                        информация се предава от Google за оценка на сървър в САЩ и се запаметява там. Предаване на
                        данни чрез Google на трети страни се осъществява само въз основа на законови разпоредби или в
                        рамките на поръчка за обработка на данни. Google в никакъв случай няма да обединява Вашите данни
                        с други данни, събирани от него.
                        Можете да предотвратите запаметяването на бисквитки чрез съответна настройка на софтуера на
                        браузъра; искаме да Ви обърнем внимание, че в този случай може да не бъдете в състояние да
                        използвате всички функции, предлагани от нашия уебсайт. Допълнителна информация за защитата на
                        данни при DoubleClick ще намерите тук: https://www.google.com/intl/de/policies/. . Можете да
                        предотвратите събирането и обработването на данните, получени чрез бисквитките, като от линка
                        https://support.google.com/ads/answer/7395996?hl=de изтеглите и инсталирате наличния там плъгин
                        за браузър под настройка на рекламни съобщения, разширение за деактивиране на DoubleClick.
                        Правно основание за обработката на лични данни при използване на бисквитки е чл. 6 параграф 1
                        ал. 1 буква е) от GDPR.
                        Социални мрежи и социални плъгини
                        Чрез нашите страници в социалните мрежи Ви предлагаме обстойно персонално съдействие. Ако ни
                        изпратите запитване през една от тези социални мрежи, ние го препращаме към компетентния отдел.
                        Данните се използват само за отговор на запитването Ви и не се препращат на трети страни.
                        Правното основание за обработката на лични данни в рамките на обработка на запитването Ви е чл.
                        6 параграф 1 ал. 1 буква е) от GDPR. За да можете да осъществите контакт с нас през социалните
                        мрежи, трябва да имате регистрация в тях. За тази цел компаниите, стоящи зад всяка от тях,
                        обработват личните данни при нужда. Ние нямаме влияние върху вида, обхвата и обработката на тези
                        данни.
                        Използване на Facebook плъгини
                        Нашият уебсайт използва социалния плъгин (плъгини) на социалната мрежа Facebook, като
                        администратор за Facebook на личните данни на лица от ЕС е Facebook Ireland Ltd.,4 Grand Canal
                        Square, Grand Canal Harbour, Dublin 2 Ireland, а обработващ е Facebook Inc., 1601 S. California
                        Ave, Palo Alto, CA 94304, USA („Facebook”). Информация за плъгините на Facebook и как изглеждат
                        те, можете да видите тук: https://developers.facebook.com/docs/plugins.
                        Когато се свържете със страница от нашия уебсайт, която съдържа такъв плъгин, Вашият браузър ще
                        установи директна връзка със сървърите на Facebook. Плъгините предават тяхното съдържание от
                        Facebook директно на Вашия браузър и го интегрират с уеб страницата. Чрез това интегриране
                        Facebook получава информация, че Вашият браузър е извикал съответната страница от нашия уебсайт,
                        дори и ако нямате профил във Facebook или ако точно в момента не сте вписани във Facebook. Тази
                        информация (включително Вашият ІР адрес) се предава от Вашия браузър директно на сървър на
                        Facebook в САЩ и се съхранява там. Ако сте вписани във Facebook, Facebook може да свърже Вашето
                        посещение на нашия уебсайт директно с Вашия профил във Facebook. Когато взаимодействате с
                        плъгини, например напишете коментар, тази информация също се предава директно на сървър на
                        Facebook и се съхранява там. Освен това информацията се публикува във Вашия профил във Facebook
                        и се показва на Вашите приятели във Facebook. Обръщаме внимание, че като доставчик на уебсайта
                        ние не получаваме сведение за съдържанието на предаваните данни, както и за тяхното използване
                        от Facebook. Информация относно целта и обхвата на това събиране на данни, по-нататъшната
                        обработка и използване на тези данни от Facebook, както и за съответните Ви права и възможности
                        за настройка за защита на личната Ви сфера, можете да намерите в указанията за защита на данните
                        на Facebook: https://facebook.com/policy.php.
                        Ако не желаете Facebook да свързва събраните чрез нашия уебсайт данни директно с Вашия Facebook
                        профил, преди да посетите нашия уебсайт Вие трябва да излезете от Facebook. Можете напълно да
                        предотвратите зареждането на Facebook плъгини и с Add-Ons за Вашия браузър, напр. с „Facebook
                        Blocker” (http://webgraph.com/resources/facebookblocker/).
                        Доколкото при гореописаните данни се касае за лични данни, правното основание за тяхната
                        обработка е чл. 6 параграф 1 ал. 1 буква е) от GDPR.
                        Използване на Google+ и YouTube плъгини
                        Нашия уебсайт използва социалните плъгини (плъгини) на социалната мрежа Google+ и на YouTube.
                        Двете услуги са собственост на Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043,
                        USA („Google”). Информация за Google+ плъгините и как изглеждат те, ще намерите тук:
                        https://developers.google.com/+/plugins.
                        Когато се свържете със страница от нашия уебсайт, която съдържа такъв плъгин, Вашият браузър ще
                        установи директна връзка със сървърите на Google. Плъгините предават тяхното съдържание от
                        Google директно на Вашия браузър и го интегрират с уеб страницата. Чрез това интегриране Google
                        получава информация, че Вашият браузър е извикал съответната страница от нашия уебсайт, дори и
                        ако нямате профил в Google+ или акаунт в YouTube или ако точно в момента не сте вписани в
                        Google+/YouTube. Тази информация (включително Вашият ІР адрес) се предава от Вашия браузър
                        директно на сървър на Google в САЩ и се съхранява там.
                        Ако сте вписани в Google+/YouTube, Google може да свърже посещението на нашия уебсайт директно с
                        Вашия акаунт. Обръщаме внимание, че като доставчик на уебсайта ние не получаваме сведение за
                        съдържанието на предаваните данни, както и за тяхното използване от Google. Информация относно
                        целта и обхвата на това събиране на данни и по-нататъшната обработка и използване на тези данни
                        от Google, както и за съответните Ви права и възможности за настройка за защита на личната Ви
                        сфера, можете да намерите в указанията за защита на данните на Google:
                        http://www.google.com/intl/de/policies/privacy/.
                        Ако не желаете Google да свързва събраните чрез нашия уебсайт данни директно с Вашия акаунт в
                        Google+/YouTube, преди да посетите нашия уебсайт трябва да излезете от Google+/YouTube. Можете
                        напълно да предотвратите зареждането на Google плъгини и с Add-Ons за Вашия браузър, напр. с
                        блокиране на скриптове „NoScript” (http://noscript.net/).
                        Правното основание за обработката на лични данни при използване на плъгини е чл. 6 параграф 1
                        ал. 1 буква б) или буква е) от GDPR.
                        Използване на Twitter плъгини
                        Нашия уебсайт използва социалните плъгини (плъгини) на микроблогинг услугата Twitter, чиито
                        собственик е Twitter Inc., 1355 Market St, Suite 900, San Francisco, CA 94103, USA („Twitter”).
                        Информация за Twitter плъгините и как изглеждат те, ще намерите тук:
                        https://twitter.com/about/resources/buttons.
                        Когато се свържете със страница от нашия уебсайт, която съдържа такъв плъгин, Вашият браузър ще
                        установи директна връзка със сървърите на Twitter. Плъгините предават тяхното съдържание от
                        Twitter директно на Вашия браузър и го интегрират с уеб страницата. Чрез това интегриране
                        Twitter получава информация, че Вашият браузър е извикал съответната страница от нашия уебсайт,
                        дори и ако нямате профил в Twitter или ако точно в момента не сте вписани в Twitter. Тази
                        информация (включително Вашият ІР адрес) се предава от Вашия браузър директно на сървър на
                        Twitter в САЩ и се съхранява там.
                        Ако сте вписани в Twitter, то Twitter може да свърже Вашето посещение на нашия уебсайт директно
                        с Вашия акаунт в Twitter. Освен това информацията се публикува във Вашия акаунт в Twitter и там
                        се показва на Вашите контакти. Обръщаме внимание, че като доставчик на уебсайта ние не
                        получаваме сведение за съдържанието на предаваните данни, както и за тяхното използване от
                        Twitter. Информация относно целта и обхвата на това събиране на данни, по-нататъшната обработка
                        и използване на тези данни от Twitter, както и за съответните Ви права и възможности за
                        настройка за защита на личната Ви сфера, можете да намерите в политиката за поверителност на
                        Twitter: https://twitter.com/privacy.
                        Ако не желаете Twitter да свързва събраните чрез нашия уебсайт данни директно с Вашия акаунт в
                        Twitter, преди да посетите нашия уебсайт трябва да излезете от Twitter. Можете напълно да
                        предотвратите зареждането на Twitter плъгини и с Add-Ons за Вашия браузър, напр. с блокиране на
                        скриптове „NoScript” (http://noscript.net/).
                        Правно основание за обработката на лични данни при използване на плъгини е чл. 6 параграф 1 ал.
                        1 буква б) или буква е) от GDPR.
                        Използване на Instagram плъгини
                        Нашия уебсайт използва така наречените социални плъгини (плъгини) на Instagram, чиито собственик
                        е Instagram LLC., 1601 Willow Road, Menlo Park, CA 94025, USA („Instagram“). Плъгините са
                        обозначени с лого на Instagram напр. във формата на „камера Instagram“. Информация за Instagram
                        плъгините и как изглеждат те, ще намерите тук:
                        http://blog.instagram.com/post/36222022872/introducing-instagram-badges
                        Когато се свържете със страница от нашия уебсайт, която съдържа такъв плъгин, Вашият браузър ще
                        установи директна връзка със сървърите на Instagram. Плъгините предават тяхното съдържание от
                        Instagram директно на Вашия браузър и го интегрират с уеб страницата. Чрез това интегриране
                        Instagram получава информация, че Вашият браузър е извикал съответната страница от нашия
                        уебсайт, дори и ако нямате профил в Instagram или ако точно в момента не сте вписани в
                        Instagram. Тази информация (включително Вашият ІР адрес) се предава от Вашия браузър директно на
                        сървър на Instagram в САЩ и се съхранява там.
                        Ако сте вписани в Instagram, то Instagram може да свърже посещението на нашия уебсайт директно с
                        Вашия акаунт в Instagram. Когато взаимодействате с плъгини, например задействате бутон
                        „Instagram“, тази информация също се предава директно на сървър на Instagram и се запаметява
                        там. Освен това информацията се публикува във Вашия акаунт в Instagram и там се показва на
                        Вашите контакти.
                        Информация относно целта и обхвата на това събиране на данни и по-нататъшната обработка и
                        използване на тези данни от Instagram, както и за съответните Ви права и възможности за
                        настройка за защита на личната Ви сфера, можете да намерите в политиката за поверителност на
                        Instagram: https://help.instagram.com/155833707900388/
                        Ако не желаете Instagram да свързва събраните чрез нашия уебсайт данни директно с Вашия акаунт в
                        Instagram, преди да посетите нашия уебсайт Вие трябва да излезете от Instagram. Вие можете
                        напълно да предотвратите зареждането на Instagram плъгини и с Add-Ons за Вашия браузър, напр. с
                        блокиране на скриптове „NoScript” (http://noscript.net/).
                        Правно основание за обработката на лични данни при използване на плъгини е чл. 6 параграф 1 ал.
                        1 буква б) или буква е) от GDPR.
                        Технически мерки за защита
                        Полагаме големи усилия, за да защитим нашите клиенти, както и абонатите на нашите електронни
                        бюлетини, от неразрешен достъп или неразрешено изменение, разкриване или унищожаване на техните
                        личните данни. За тази цел предприемаме редица технически и организационни мерки, като:
                        Използваме защитени уебсайтове, през които събираме Вашите лични данни;
                        Събираме личните Ви данни чрез потвърждение в две стъпки (въвеждане на данни в уебстраницата ни
                        и потвърждаване на абонамента, съответно на личните Ви данни, чрез линк, изпратен на посочения
                        от Вас имейл адрес);
                        Извършваме прегледи на практиките си за събиране, съхранение и обработка на лични данни,
                        включително на физическите мерки за сигурност, с цел предотвратяването на неразрешен достъп до
                        системите, които използваме;
                        Достъп до личните Ви данни в рамките на нашата организация имат само лица, чиито трудови функции
                        изискват достъп до данните с оглед осъществяването на дейностите, за които данните са били
                        събрани; данните се обработват или се предават на трети лица, за които сте информирани и които
                        се придържат към най-високите стандарти за информационна сигурност и сигурност на личните данни,
                        демонстрирана както чрез наличието на съответни сертификации, така и чрез възможността за
                        извършване на регулярни одити за съответствие.;
                        Включваме договорни клаузи за поверителност във всички договори, които сключваме със служителите
                        и третите лица, на които възлагаме обработване на личните ви данни;
                    </p>

                    <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
<!-- Donate -->
<th:block th:replace="~{fragments/footer}"></th:block>
<th:block th:replace="~{fragments/js}"></th:block>
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</body>
</html>