<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Edit - CarpMap</title>

</head>
<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<div class="addRes">
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Add Fish</h2>
                        <!-- General Form Elements -->
                        <form th:method="POST"
                              th:action="@{/fish-list-type/add/adding-fish}"
                              th:object="${addFishDTO}"
                              enctype="multipart/form-data">
                            <div class="row mb-3">
                                <label for="fishName"
                                       class="col-sm-2 col-form-label">Име</label>
                                <div class="col-sm-10">
                                    <input th:field="*{fishName}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="fishName"
                                           id="fishName"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('fishName')}"
                                         th:errors="*{fishName}">Please, enter your name!
                                    </div>
                                    <p th:if="${existingName}" class="errors alert alert-danger text-center">
                                        Името вече съществува.
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="latinName"
                                       class="col-sm-2 col-form-label">Латинско име</label>
                                <div class="col-sm-10">
                                    <input th:field="*{latinName}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="latinName"
                                           id="latinName"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('latinName')}"
                                         th:errors="*{latinName}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="pictureFile"
                                       class="col-sm-2 col-form-label">Качи снимка</label>
                                <div class="col-sm-10">
                                    <input type="file"
                                           name="pictureFile"
                                           id="pictureFile"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="description"
                                       class="col-sm-2 col-form-label">Информация</label>
                                <div class="col-sm-10">
                                    <textarea
                                            th:field="*{description}"
                                            th:errorclass="is-invalid"
                                            name="description"
                                            id="description"
                                            class="form-control"
                                            style="height: 500px"
                                            maxlength="5000"></textarea>
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('description')}"
                                         th:errors="*{description}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Добави Риба</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer Start -->
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
    <!-- Footer End -->
    <!-- JavaScript Libraries -->
    <th:block th:replace="~{fragments/js}"></th:block>
</footer>
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</body>
</html>