<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Видове Риби - CarpMap</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website"
          th:content="'риба, информация за риба, срещани риби в българия, видове риби, '">
    <meta name="title" content="Всичко за рибата в България">
    <meta name="description"
          content="Всички видове риби България. Намерете информация и снимки за видовете риби в България">
    <meta name="author" content="Nikolay">
    <meta name="robots" content="index, follow">
    <!-- Open Graph тагове за социални мрежи -->
    <meta property="og:title" content="Всичкo за рибата в България">
    <meta property="og:description"
          content="Всички видове риби България. Намерете информация и снимки за видовете риби в България">
    <meta property="og:url" content="https://carpmap.online/fish-list-type/fishing-type">
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="https://carpmap.online/imagesApp/fishList/niki.evgeniev/064dde06-7607-4dfa-8c78-169a7f2372ae.jpg">

    <!-- Twitter Card тагове -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Всички за рибата в България">
    <meta name="twitter:description"
          content="Всички видове риби България. Намерете информация и снимки за видовете риби в България">
    <meta name="twitter:url" content="https://carpmap.online/fish-list-type/fishing-type">
    <meta name="twitter:image"
          content="https://carpmap.online/imagesApp/fishList/niki.evgeniev/064dde06-7607-4dfa-8c78-169a7f2372ae.jpg">
    <link rel="canonical" href="https://carpmap.online/fish-list-type/fishing-type"/>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<div class="container-fluid bg-breadcrumb fishPicCover">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4 fishH1Tag">Всички видове риби в България</h1>
    </div>
</div>
<!--SEARCH FISH-->
<!--<div class="container-fluid  position-relative">-->
<!--    <div class="container">-->
<!--        <form >-->
<!--            <div class="searchIp position-relative rounded-pill w-100 mx-auto p-1">-->
<!--                <input-->
<!--                        class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5"-->
<!--                        name="reservoir"-->
<!--                        id="reservoir"-->
<!--                        type="text"-->
<!--                        placeholder="Enter IP"/>-->
<!--                <button type="submit"-->
<!--                        class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2"-->
<!--                        style="top: 50%; right: 6px; transform: translateY(-50%)">Търси-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="text-primary text-center">Please, enter your name!-->
<!--            </div>-->
<!--            <br>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--SEARCH FISH END-->
<!--START-->
<section id="explore" class="explore">
    <div class="container products">
        <link rel="stylesheet" href="/css/style2.css">
        <div class="section-header">
            <h3 class="text-center">Тук ще намерите всички видове риби в CarpMap</h3>
        </div>
        <div class="explore-content">
            <div class="row">
                <div th:each="fishList : ${allFishList.getContent()}"
                     th:object="${fishList}"
                     class="cardres col-md-2 col-sm-6">
                    <div class="single-explore-item">
                        <div class="single-explore-img fish-list">
                            <a class="image-all-reservoir"
                               th:href="@{/fish-list-type/{urlName}(urlName = *{urlName})}">
                                <img alt="explore image"
                                        th:src="*{imageUrl}"></a>
                        </div>
                        <div class="single-explore-txt bg-theme-1">
                            <h1 style="font-size: 2rem"><a
                                    th:href="@{/fish-list-type/{urlName}(urlName = *{urlName})}"
                                    th:text="*{fishName}">Шаран</a>
                            </h1>
                            <p class="explore-rating-price">
                                <span class="explore-type-box">
											Тип:
											<span th:text="*{latinName}" class="explore-price">5$-300$</span>
										</span>
                            </p>
                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p style="font-size: 14px"
                                           th:text="*{description} + '......'"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="explore-open-close-part">
                                <div class="row">
                                    <div class="col-sm-12 text-end">
                                        <a class="btn btn-primary rounded-pill py-2 px-4 ms-lg-2"
                                           data-abc="true"
                                           th:href="@{/fish-list-type/{urlName}(urlName = *{urlName})}">Информация</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<nav aria-label="Page navigation " class="d-flex justify-content-center">
    <ul th:fragment="ALL" class="pagination text-center">

        <!-- Previous Page Button -->
        <li th:class="${allFishList.hasPrevious()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allFishList.hasPrevious()}"
               th:href="@{/fish-list-type/fishing-type(page=${allFishList.previousPageable().pageNumber})}"><-</a>
        </li>

        <!-- First Page -->
        <li th:class="${allFishList.number == 0} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/fish-list-type/fishing-type(page=0)}" th:text="1"></a>
        </li>

        <!-- Dots before the current page if needed -->
        <li th:if="${allFishList.number > 2}">
            <span class="page-link">...</span>
        </li>

        <!-- Pages around the current page -->
        <li th:each="i : ${#numbers.sequence(allFishList.number - 1, allFishList.number + 1)}"
            th:if="${i > 0 && i < allFishList.totalPages - 1}"
            th:class="${i == allFishList.number} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/fish-list-type/fishing-type(page=${i})}" th:text="${i + 1}"></a>
        </li>

        <!-- Dots after the current page if needed -->
        <li th:if="${allFishList.number < allFishList.totalPages - 3}">
            <span class="page-link">...</span>
        </li>

        <!-- Last Page -->
        <li th:if="${allFishList.totalPages > 1}"
            th:class="${allFishList.totalPages - 1 == allFishList.number} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/fish-list-type/fishing-type(page=${allFishList.totalPages - 1})}"
               th:text="${allFishList.totalPages}"></a>
        </li>

        <!-- Next Page Button -->
        <li th:class="${allFishList.hasNext()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allFishList.hasNext()}"
               th:href="@{/fish-list-type/fishing-type(page=${allFishList.nextPageable().pageNumber})}">-></a>
        </li>
    </ul>
</nav>
<br>
<!--END-->
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
    <th:block th:replace="~{fragments/js}"></th:block>
</footer>
</body>

</html>