<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Carp Map</title>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<!-- Carousel Start -->
<main>
    <div class="carousel-header">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <!--                    <img src="/images/carousel-2.jpg" class="img-fluid" alt="Image">-->
                    <img src="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/vpu9kh8vrmrwhpr8wi2x.jpg"
                         class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px">CARP MAP</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">Намери частен водоем</h1>
                            <p class="mb-5 fs-5">Разгледай всички частни водоеми и намери пълната информация за
                                тях
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                                   th:href="@{/reservoirs/reservoirsAll}">Намери сега</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                    <img src="/images/carousel-1.jpg" class="img-fluid" alt="Image">-->
                    <img src="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/p39fszwndstrcyovmpxk.jpg"
                         class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px">CARP MAP</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">Намери държавен водоем</h1>
                            <p class="mb-5 fs-5">Разгледай всички държавни водоеми и намери пълна информация за
                                тях
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                                   th:href="@{/reservoirs/reservoirsAll}">Намери сега</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--                    <img src="/images/carousel-3.jpg" class="img-fluid" alt="Image">-->
                    <img src="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1716155055/carouse/iuwtmtr9h1zxdvulcd8o.jpg"
                         class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px">CARP MAP
                                World</h4>
                            <h1 class="display-2 text-capitalize text-white mb-4">Виж всички водоемите</h1>
                            <p class="mb-5 fs-5">Разгледай всички водоеми и намери пълната информация за
                                тях
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                                   th:href="@{/reservoirs/reservoirsAll}">Намери сега</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    <div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%);">
<!--        <form th:method="POST"-->
<!--              th:action="@{/search}"-->
<!--              th:object="${searchDTO}"-->
              id="input-group search" class="input-group search">
            <div class="container info-server">
                <div class="position-relative rounded-pill w-100 mx-auto p-4"
                     style="background: rgba(19, 53, 123, 0.8)">
                    <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5"
                           name="search"
                           id="search"
                           type="text"
                           placeholder="пр: Йовковци"/>
                    <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2"
                            style="top: 50%; right: 46px; transform: translateY(-50%)">Търси
                    </button>
                </div>

                <h1 class="text-capitalize text-center mb-4 "
                    th:object="${counter}"
                    th:text="'Total visitors ' + ${counter}">You Like To Go?</h1>
                <h1 class="text-capitalize text-center mb-4 ">
                    LAST UPDATE IS : UPDATE INDEX PAGE</h1>
            </div>
        </form>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Packages Start -->
    <div class="container-fluid packages">
        <div class="container package">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Блогове</h5>
                <h1 class="mb-0">Част от нашите блогове</h1>
            </div>
            <div class="packages-carousel owl-carousel">
                <div class="packages-item" th:each="blog : ${blogPackages}">
                    <div class="packages-img">
                        <img th:src="*{blog.getUrlImage()}"
                             class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-2 pb-0">
                            <br>
                            <h5 class="mb-0 text-center"
                                th:text="*{blog.getTitleBlog()}"
                            >The New California</h5>
                            <br>
                            <!--                            <p class="mb-4 text-center"-->
                            <!--                               th:text="*{blog.getDescription()}">Lorem ipsum dolor, </p>-->
                            <!--                            <p th:text="'Added: ' + *{blog.getAuthorName()}"-->
                            <!--                               class="mb-3 text-end"> Nikolay </p>-->
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-12 text-center px-0">
                                <a th:href="@{/blog}" class="btn-hover btn text-white py-2 px-4">Блог</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Packages End -->
    <!-- Subscribe Start -->
    <th:block th:replace="~{fragments/subscribe}"></th:block>
    <!-- Subscribe End -->
    <th:block th:replace="~{fragments/footer}"></th:block>
    <th:block th:replace="~{fragments/js}"></th:block>
</main>
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
        class="fa fa-arrow-up"></i></a>
</body>
</html>

