<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title> Язовирте в България - Carpmap.bg </title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
    <meta name="description" content="Всички язовири и водоеми в България">
    <meta name="author" content="Nikolay">
    <meta name="robots" content="index, follow">
    <!-- Open Graph тагове за социални мрежи -->
    <meta property="og:title" content="Открийте най-добрите места на язовирите и водоемите в България - Carpmap.bg">
    <meta property="og:description"
          content="Информация за всички язовири и водоеми в България, видове риба в водоемите, локация, местоположение и снимки">
    <meta property="og:url" content="https://carpmap.bg/">
    <meta property="og:type" content="website">
    <meta property="og:locate" content="bg_BG">
    <meta property="og:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/vpu9kh8vrmrwhpr8wi2x.jpg">

    <!-- Twitter Card тагове -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Язовирите в България - Carpmap.bg">
    <meta name="twitter:description"
          content="Информация за всички язовири и водоеми в България, видове риба в водоемите, локация, местоположение и снимки">
    <meta name="twitter:url" content="https://carpmap.bg/">
    <meta name="twitter:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/p39fszwndstrcyovmpxk.jpg">
    <th:block th:replace="~{fragments/head}"></th:block>
    <th:block th:replace="~{fragments/analytics}"></th:block>
</head>
<th:block th:replace="~{fragments/topbar}"></th:block>

<th:block th:replace="~{fragments/navbar}"></th:block>
<body>
<main>
    <!-- Carousel Start for now is disabled-->
    <!--            <th:block th:replace="~{fragments/carousel}"></th:block>-->
    <!-- Carousel End -->
    <!-- Carousel video start -->
    <th:block th:replace="~{fragments/video}"></th:block>
    <!-- Carousel video end -->
    <div class="container-fluid search-bar position-relative" style="top: -50%; transform: translateY(-50%);">
        <div class="container info-server">
            <form th:method="GET"
                  th:action="@{/search}"
                  th:object="${searchDTO}">
                <div class="position-relative rounded-pill w-100 mx-auto p-4"
                     style="background: rgba(19, 53, 123, 0.8)">
                    <input th:field="*{reservoir}"
                           class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5"
                           name="reservoir"
                           id="reservoir"
                           type="text"
                           placeholder="пр: Йовковци"/>
                    <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2"
                            style="top: 50%; right: 26px; transform: translateY(-50%)">Търси
                    </button>
                </div>
                <div class="text-primary text-center"
                     th:if="${#fields.hasErrors('reservoir')}"
                     th:errors="*{reservoir}">Please, enter your name!
                </div>
                <br>
            </form>
        </div>
    </div>
    <div style="margin-top: -4%; display: none">
        <h1 class="text-center mb-4 fw-bold"><b>СЪОБЩЕНИЕ</b></h1>
        <h1 class="text-center mb-4 fw-bolder">Здравейте сайта е с нов домейн: Carpmap.bg <br>
            Ако имате проблеми може да ни пишете на : info@carpmap.bg <br> или да се свържете от тук :
            <a th:href="@{/contact}"> Контакти </a>
        </h1>
<br>
<br>
<br>
    </div>
    <!-- Navbar & Hero End -->
    <!-- Gallery Start -->
    <th:block th:replace="~{fragments/gallery}"></th:block>
    <!-- Gallery End -->
    <!-- Packages Start -->
    <div class="container-fluid packages">
        <div class="container package">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Блогове</h5>
                <h1 class="mb-0">Част от нашите блогове</h1>
            </div>
            <div class="packages-carousel owl-carousel">
                <div class="packages-item" th:each="blog : ${blogPackages}">
                    <div class="packages-img">
                        <img th:src="*{blog.getUrlImage()}"
                             class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-2 pb-0">
                            <br>
                            <a th:href="@{/blog}">
                                <h5 class="mb-0 text-center"
                                    th:text="*{blog.getTitleBlog()}"
                                >The New California</h5>
                                <br>
                            </a>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-12 text-center px-0">
                                <a th:href="@{/blog}"
                                   class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5"
                                >Виж в нашия Блог</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Packages End -->
    <!-- Subscribe Start -->
    <div>
        <th:block th:replace="~{fragments/subscribe}"></th:block>
    </div>
    <!-- Subscribe End -->

</main>
<!-- Footer Start -->
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
<!-- Footer End -->
<div>
    <th:block th:replace="~{fragments/js}"></th:block>
</div>

<div id="cookieBackdrop" class="cookie-backdrop"></div>

<!-- Cookie Consent Popup -->
<div id="cookieConsent" class="cookie-consent">
    <div class="cookie-message">
        <p>Този сайт използва "бисквитки" за подобряване на потребителското изживяване. Прочетете нашата
            <a th:href="@{/cookiePolicy}" target="_blank">политика за бисквитките</a>.
        </p>
        <button id="acceptCookies">Приемам</button>
    </div>
</div>

<script th:src="@{/js/cookie.js}"></script>
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
        class="fa fa-arrow-up"></i></a>
</body>
</html>

