<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Carp Map INVITE</title>
</head>
<style>
    .responsive-text {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
</style>
<body>

<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>

<main>
    <!-- Donate -->
    <div class="container-fluid py-5"
         style="background: linear-gradient(rgba(19, 53, 123, 0.3), rgba(19, 53, 153, 0.3)); object-fit: cover;">
        <div class="container py-5 text-center">
            <div class="row justify-content-center donate">
                <div class="col-lg-6">
                    <i class="fas fa-donate fa-2x text-primary"></i>
                    <h1 class="display-4">Здравейте поканени сте в къщи на по бира</h1>
                    <h3 class="mb-4 text-dark text-start">Заповядайте на 01.06.2024г от 19.30 на ул. Божур 13</h3>
                    <h3 class="mb-4 text-dark text-start">ПС: Ачката може и по късно аз ще го взема</h3>
                    <h3 class="mb-4 text-dark text-start">За да потвърдите моля свържете се с нас</h3>
                    <h3 class="mb-4 text-dark text-start">Благодарим ! Поздрави</h3>
                    <h3 class="mb-4 text-dark text-start">Николай и Христина</h3>

                    <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate -->

    <th:block th:replace="~{fragments/footer}"></th:block>
    <th:block th:replace="~{fragments/js}"></th:block>
</main><!-- End #main -->

<!-- Back to Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

</body>
</html>