<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Контакти - Carpmap.bg</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
    <meta name="title" content="Контакти">
    <meta name="description" content="Контакти с нашия екип">
    <meta name="author" content="Nikolay">
    <meta name="robots" content="index, follow">
    <!-- Open Graph тагове за социални мрежи -->
    <meta property="og:title" content="Контакти">
    <meta property="og:description" content="Контакти с нашия екип">
    <meta property="og:url" content="https://carpmap.bg/contact">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://carpmap.bg/path-to-your-image.jpg">
    <!-- Twitter Card тагове -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Контакти">
    <meta name="twitter:description" content="Контакти с нашия екип">
    <meta name="twitter:url" content="https://carpmap.bg/contact">
    <meta name="twitter:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/p39fszwndstrcyovmpxk.jpg">
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center py-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Съобщение</h5>
            <h1 class="mb-0 ">Carpmap.bg</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-10">
                <h3 class="mb-2 text-center">Съобщение</h3>
                <!--                <p class="mb-4">Изпрати ни събощение с пълна информация за да можем да ви помогнем !</p>-->
                <div class="row g-3"
                     th:object="${mailDetail}">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input th:field="*{name}"
                                   type="text"
                                   class="form-control border-0"
                                   id="name"
                                   placeholder="Your Name"
                                   maxlength="50"
                                   disabled>
                            <label for="name">Вашето име</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input th:field="*{email}"
                                   type="email"
                                   class="form-control border-0"
                                   id="email"
                                   placeholder="Your Email"
                                   disabled>
                            <label for="email">Емайл</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input th:field="*{subject}"
                                   type="text"
                                   class="form-control border-0"
                                   id="subject"
                                   placeholder="Subject"
                                   disabled>
                            <label for="subject">Тема</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input th:field="*{addedDate}"
                                   type="text"
                                   class="form-control border-0"
                                   id="subject"
                                   placeholder="Subject"
                                   disabled>
                            <label for="subject">Изпратено</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                                <textarea th:field="*{message}"
                                          class="form-control border-0"
                                          placeholder="Leave a message here"
                                          id="message"
                                          style="height: 160px"
                                          maxlength="250"
                                          disabled></textarea>
                            <label for="message">Съобщение</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <a class="btn btn-primary w-100 py-3"
                           type="submit"
                           th:href="@{/mail}">Back
                        </a>
                    </div>
                    <form
                            sec:authorize="hasRole('ADMIN')"
                            th:method="DELETE"
                            th:action="@{/contact/delete/{id}(id = *{id})}">
                        <div class="col-10">
                            <button class="btn btn-danger w-100 py-3"
                                    type="submit">Delete
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!-- Contact End -->
<!-- Footer Start -->
<th:block th:replace="~{fragments/footer}"></th:block>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
<!-- JavaScript Libraries -->
<th:block th:replace="~{fragments/js}"></th:block>
</body>
</html>