<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Profile - CarpMap</title>
</head>
<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<main>
    <section class="section profile">
        <div class="section-header">
            <h2 class="text-center">Profile manager</h2>
        </div><!--/.section-header-->
        <div class="row profile-view">
            <div class="col-xl-12" th:object="${profileInfoDTO}">
                <th:block th:replace="~{fragments/headProfile}"></th:block>
                <br>
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button th:classappend="${activeTab == 'profile-overview'} ? 'active' : ''"
                                        class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-overview">
                                    Overview
                                </button>
                            </li>
                            <li class="nav-item">
                                <button th:classappend="${activeTab == 'profile-edit'} ? 'active' : ''"
                                        class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                    Profile
                                </button>
                            </li>
                            <li class="nav-item">
                                <button th:classappend="${activeTab == 'profile-settings'} ? 'active' : ''"
                                        class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">
                                    Settings
                                </button>
                            </li>
                            <li class="nav-item">
                                <button th:classappend="${activeTab == 'profile-change-password'} ? 'active' : ''"
                                        class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                                    Change Password
                                </button>
                            </li>
                            <li class="nav-item">
                                <button th:classappend="${activeTab == 'profile-roles'} ? 'active' : ''"
                                        class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-roles">
                                    Roles
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div th:classappend="${activeTab == 'profile-overview'} ? 'show active' : ''"
                                 class="tab-pane fade  profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores
                                    cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure
                                    rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at
                                    unde.</p>
                                <h5 class="card-title">Profile Details</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Username</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{username}">Kevin Anderson
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{firstName}">Kevin Anderson
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Last Name</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{lastName}">Lueilwitz, Wisoky and Leuschke
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Team</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{team}">Carpoholics
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Job</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{job}">fisherman
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Country</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{country}">BG
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">City</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{city}">Gorna
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{phone}">x29071
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{email}">day_wallker
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Create On</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{createOn}">date
                                    </div>
                                </div>
                                <div class="row"
                                     th:if="*{modified} != null">
                                    <div class="col-lg-3 col-md-4 label">Modified on</div>
                                    <div class="col-lg-9 col-md-8"
                                         th:text="*{#temporals.format(modified, 'yyyy-MM-dd HH:mm:ss')}">date
                                    </div>
                                </div>
                            </div>
                            <div th:classappend="${activeTab == 'profile-edit'} ? 'show active' : ''"
                                 class="tab-pane fade  profile-edit pt-3"
                                 id="profile-edit">
                                <!-- Profile Edit Form -->
                                <form th:method="POST"
                                      th:action="@{/profile/details/{id}(id = *{id})}"
                                      th:object="${profileEditDTO}">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile
                                            Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="/images/277348542_5331251560231792_5412271903652794342_n.jpg"
                                                 alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm"
                                                   title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                   title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="firstName"
                                               class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{firstName}"
                                                   th:errorclass="is-invalid"
                                                   name="fullName"
                                                   type="text"
                                                   class="form-control"
                                                   id="firstName"
                                                   value="Kevin Anderson">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('firstName')}"
                                             th:errors="*{firstName}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="lastName"
                                               class="col-md-4 col-lg-3 col-form-label">last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{lastName}"
                                                   th:errorclass="is-invalid"
                                                   name="lastName"
                                                   type="text"
                                                   class="form-control"
                                                   id="lastName"
                                                   value="Kevin Anderson">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('lastName')}"
                                             th:errors="*{lastName}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="about"
                                               class="col-md-4 col-lg-3 col-form-label">About</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="about"
                                                      class="form-control"
                                                      id="about"
                                                      style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job"
                                               class="col-md-4 col-lg-3 col-form-label">Job</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{job}"
                                                   th:errorclass="is-invalid"
                                                   name="job"
                                                   type="text"
                                                   class="form-control"
                                                   id="Job"
                                                   value="fisher">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('job')}"
                                             th:errors="*{job}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="team"
                                               class="col-md-4 col-lg-3 col-form-label">Team</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{team}"
                                                   th:errorclass="is-invalid"
                                                   name="team"
                                                   type="text"
                                                   class="form-control"
                                                   id="team"
                                                   value="Carpoholics">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('team')}"
                                             th:errors="*{team}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Country"
                                               class="col-md-4 col-lg-3 col-form-label">Country</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{country}"
                                                   th:errorclass="is-invalid"
                                                   name="country"
                                                   type="text"
                                                   class="form-control"
                                                   id="Country"
                                                   value="USA">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('country')}"
                                             th:errors="*{country}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="city"
                                               class="col-md-4 col-lg-3 col-form-label">City</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{city}"
                                                   th:errorclass="is-invalid"
                                                   name="city"
                                                   type="text"
                                                   class="form-control"
                                                   id="city"
                                                   value="Gorna Oryahovitsa">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('city')}"
                                             th:errors="*{city}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="phoneNumber"
                                               class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{phoneNumber}"
                                                   th:errorclass="is-invalid"
                                                   name="phoneNumber"
                                                   type="text"
                                                   class="form-control"
                                                   id="phoneNumber"
                                                   value="(436) 486-3538 x29071">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('phoneNumber')}"
                                             th:errors="*{phoneNumber}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Email"
                                               class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{email}"
                                                   th:errorclass="is-invalid"
                                                   name="email"
                                                   type="email"
                                                   class="form-control"
                                                   id="Email"
                                                   value="admin@carpmap.online">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('email')}"
                                             th:errors="*{email}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Twitter"
                                               class="col-md-4 col-lg-3 col-form-label">Twitter
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{twitter}"
                                                   th:errorclass="is-invalid"
                                                   name="twitter"
                                                   type="text"
                                                   class="form-control"
                                                   id="Twitter"
                                                   value="https://twitter.com/#">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('twitter')}"
                                             th:errors="*{twitter}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Facebook"
                                               class="col-md-4 col-lg-3 col-form-label">Facebook
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{facebook}"
                                                   th:errorclass="is-invalid"
                                                   name="facebook"
                                                   type="text"
                                                   class="form-control"
                                                   id="Facebook"
                                                   value="https://facebook.com/#">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('facebook')}"
                                             th:errors="*{facebook}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Instagram"
                                               class="col-md-4 col-lg-3 col-form-label">Instagram
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{instagram}"
                                                   th:errorclass="is-invalid"
                                                   name="instagram"
                                                   type="text"
                                                   class="form-control"
                                                   id="Instagram"
                                                   value="https://instagram.com/#">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('instagram')}"
                                             th:errors="*{instagram}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Linkedin"
                                               class="col-md-4 col-lg-3 col-form-label">Linkedin
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{linkedIn}"
                                                   th:errorclass="is-invalid"
                                                   name="linkedin"
                                                   type="text"
                                                   class="form-control"
                                                   id="Linkedin"
                                                   value="https://linkedin.com/#">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('linkedIn')}"
                                             th:errors="*{linkedIn}">Please, enter job!
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                                <!-- End Profile Edit Form -->
                            </div>
                            <div th:classappend="${activeTab == 'profile-settings'} ? 'show active' : ''"
                                 class="tab-pane fade pt-3" id="profile-settings">
                                <!-- Settings Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email
                                            Notifications</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="changesMade"
                                                       checked>
                                                <label class="form-check-label" for="changesMade">
                                                    Changes made to your account
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="newProducts"
                                                       checked>
                                                <label class="form-check-label" for="newProducts">
                                                    Information on new products and services
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="proOffers">
                                                <label class="form-check-label" for="proOffers">
                                                    Marketing and promo offers
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="securityNotify"
                                                       checked disabled>
                                                <label class="form-check-label" for="securityNotify">
                                                    Security alerts
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End settings Form -->
                            </div>
                            <div th:classappend="${activeTab == 'profile-change-password'} ? 'show active' : ''"
                                 class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form th:method="POST"
                                      th:action="@{/profile/details/newPassword/{id}(id = *{id})}"
                                      th:object="${profileNewPasswordDTO}">
                                    <p th:if="errors != null"
                                       th:each="err : ${errors}"
                                       th:text="${err.getError()}"
                                       class="errors alert alert-danger text-center">
                                        error password change
                                    </p>
                                    <div class="row mb-3">
                                        <label for="currentPassword"
                                               class="col-md-4 col-lg-3 col-form-label">Current
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{currentPassword}"
                                                   th:errorclass="is-invalid"
                                                   name="currentPassword"
                                                   type="password"
                                                   class="form-control"
                                                   id="currentPassword">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('currentPassword')}"
                                             th:errors="*{currentPassword}">Please, enter your pass!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="newPassword"
                                               class="col-md-4 col-lg-3 col-form-label">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{newPassword}"
                                                   th:errorclass="is-invalid"
                                                   name="newPassword"
                                                   type="password"
                                                   class="form-control"
                                                   id="newPassword">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('newPassword')}"
                                             th:errors="*{newPassword}">Please, enter your pass!
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="confirmNewPassword"
                                               class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input th:field="*{confirmNewPassword}"
                                                   th:errorclass="is-invalid"
                                                   name="confirmNewPassword"
                                                   type="password"
                                                   class="form-control"
                                                   id="confirmNewPassword">
                                        </div>
                                        <div class="text-primary text-center"
                                             th:if="${#fields.hasErrors('confirmNewPassword')}"
                                             th:errors="*{confirmNewPassword}">Please, enter your pass!
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->
                            </div>
                            <div th:classappend="${activeTab == 'profile-roles'} ? 'show active' : ''"
                                 class="tab-pane fade pt-3" id="profile-roles">
                                <!-- Settings Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Select type</label>
                                        <div class="col-sm-10">
                                            <select th:field="*{roleType}"
                                                    th:errorclass="is-invalid"
                                                    id="reservoirType"
                                                    name="reservoirType"
                                                    class="form-select" aria-label="Default select example">
                                                <option value="">Open this select menu</option>
                                                <option th:each="type : ${T(com.example.carpmap.Models.Enums.RoleType).values()}"
                                                        th:text="${type}"
                                                        th:value="${type}"
                                                        value="1">One
                                                </option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form><!-- End settings Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="~{fragments/footer}"></th:block>
<th:block th:replace="~{fragments/js}"></th:block>
</body>
</html>