<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Carp Map - Register</title>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<main>
    <div class="registerUser">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="/assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">NiceAdmin</span>
                            </a>
                        </div><!-- End Logo -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>
                                <form th:method="POST"
                                      th:action="@{/users/register}"
                                      th:object="${registerDTO}"
                                      class="row g-3 needs-validation" novalidate>

                                    <p th:if="registerUser != null"
                                       th:each="err : ${registerUser}"
                                       th:text="${err.getError()}"
                                       class="errors alert alert-danger">
                                        Invalid username or password.
                                    </p>
                                    <div class="col-12">
                                        <label for="firstName"
                                               class="form-label">First Name</label>
                                        <input th:field="*{firstName}"
                                               th:errorclass="bg-danger"
                                               type="text"
                                               name="firstName"
                                               class="form-control"
                                               id="firstName" required>
                                        <div class="text-danger"
                                             th:if="${#fields.hasErrors('firstName')}"
                                             th:errors="*{firstName}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="lastName"
                                               class="form-label">Last Name</label>
                                        <input th:field="*{lastName}"
                                               th:errorclass="bg-danger"
                                               type="text"
                                               name="lastName"
                                               class="form-control"
                                               id="lastName" required>
                                        <div class="text-danger"
                                             th:if="${#fields.hasErrors('lastName')}"
                                             th:errors="*{lastName}">Please, enter your name!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="email"
                                               class="form-label">Email</label>
                                        <input th:field="*{email}"
                                               th:errorclass="bg-danger"
                                               type="email"
                                               name="email"
                                               class="form-control"
                                               id="email" required>
                                        <div class="text-danger"
                                             th:if="${#fields.hasErrors('email')}"
                                             th:errors="*{email}">Please enter a valid Email address!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="username"
                                               class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text"
                                                  id="inputGroupPrepend">@</span>
                                            <input th:field="*{username}"
                                                   th:errorclass="bg-danger"
                                                   type="text"
                                                   name="username"
                                                   class="form-control"
                                                   id="username"
                                                   required>
                                            <div class="text-danger"
                                                 th:if="${#fields.hasErrors('email')}"
                                                 th:errors="*{username}">Please choose a
                                                username.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="password"
                                               class="form-label">Password</label>
                                        <input th:field="*{password}"
                                               th:errorclass="bg-danger"
                                               type="password"
                                               name="password"
                                               class="form-control"
                                               id="password"
                                               required>
                                        <div class="text-danger"
                                             th:if="${#fields.hasErrors('password')}"
                                             th:errors="*{password}">Please enter your password!
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="confirmPassword"
                                               class="form-label">Password</label>
                                        <input th:field="*{confirmPassword}"
                                               th:errorclass="bg-danger"
                                               type="password"
                                               name="password"
                                               class="form-control"
                                               id="confirmPassword"
                                               required>
                                        <div class="text-danger"
                                             th:if="${#fields.hasErrors('confirmPassword')}"
                                             th:unless="registerDTO.isPasswordMatch == false"
                                             th:errors="*{confirmPassword}">Please enter your password!
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value=""
                                                   id="acceptTerms" required>
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a
                                                    href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a th:href="@{/uesrs/login}">Log
                                            in</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
<th:block th:replace="~{fragments/footer}"></th:block>
<th:block th:replace="~{fragments/js}"></th:block>
<!-- Back to Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
</body>
</html>