<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/css/style3.css" rel="stylesheet">
<!--    <title th:text="'Информация за Язовир ' + ${details.name} + ' - CarpMap'">Детайли - CarpMap</title>-->
    <title th:text="'Язовир ' + ${details.name} + ' - CarpMap'">Детайли - CarpMap</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website"
          th:content="'язовир, информация за язовир, места за риболов в българия, водоеми, ' +  ${details.name}">
    <meta name="title" th:content="'Язовир ' + ${details.name}">
    <meta name="description" th:content="'Информация за язовир ' + ${details.name} ">
    <meta name="author" content="Nikolay">
    <meta name="robots" content="index, follow">
    <!-- Open Graph тагове за социални мрежи -->
    <meta property="og:title" th:content="'Язовир ' + ${details.name}">
    <meta property="og:description" th:content="'Информация за язовир ' + ${details.name}">
    <meta property="og:url" th:content="@{https://carpmap.online/reservoirs/{id}(id = *{details.urlName})}">
    <meta property="og:type" content="website">
    <meta property="og:locate" content="bg_BG">
    <meta property="og:image" th:content="${details.urlImage}">

    <!-- Twitter Card тагове -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" th:content="'Язовир ' + ${details.name}">
    <meta name="twitter:description" th:content="'Информация за язовир ' + ${details.name}">
    <meta name="twitter:url" th:content="@{https://carpmap.online/reservoirs/{id}(id = *{details.urlName})}">
    <meta name="twitter:image"
          th:content="${details.urlImage}">
    <link rel="canonical" th:href="@{https://carpmap.online/reservoirs/{id}(id = *{details.urlName})}"/>
    <meta property="og:site_name" content="CarpMap">
    <meta property="og:locale" content="bg_BG">
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<header class="cd__intro">
    <h1 class="text-center"
        th:text="'Язовир ' + *{details.name}">Язовир</h1>
    <h6 th:text="*{details.city}"
        class="text-center">Град</h6>
    <div class="cd__action text-center">
        <a th:href="@{/reservoirs/reservoirsByType/{type}(type = reservoirs)}"
           title="Back to download and tutorial page"
           class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5">BACK</a>
    </div>
</header>
<!--$%adsense%$-->
<main class="cd__main">
    <div class="container my-5">
        <div class="row" th:object="${details}">
            <div class="col-md-7">
                <div class="main-img">
                    <img class="img-fluid img-detail"
                         th:src="*{urlImage}"
                         data-toggle="modal"
                         data-target="#exampleModal"
                         alt="ProductS">
                    <div class="modal fade"
                         id="exampleModal"
                         tabindex="-1"
                         role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog"
                             role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title w-100 text-center"
                                        id="exampleModalLabel"
                                        th:text="*{name}">
                                    </h3>
                                </div>
                                <!--Modal body with image-->
                                <div class="modal-body">
                                    <img th:src="*{urlImage}"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="main-description px-2">
                    <br>
                    <div class="category text-bold text-start"
                         th:text="'Име на язовира : ' + *{name}">
                    </div>
                    <br>
                    <div class="category text-bold text-start"
                         th:text="'Намира се : ' + *{country} + ' - ' + *{city}">
                    </div>
                    <br>
                    <div class="category text-bold text-start"
                         th:text="'Тип : ' + *{reservoirType}">
                    </div>
                    <div class="product-title text-bold my-3 text-start"
                         sec:authorize="hasRole('ADMIN') or hasRole('MODERATOR')"
                         th:text="'Kординати - Latitude: ' + *{latitude}">
                    </div>
                    <div class="product-title text-bold my-3 text-start"
                         sec:authorize="hasRole('ADMIN') or hasRole('MODERATOR')"
                         th:text="'Kординати - Longitude: ' + *{longitude}">
                    </div>
                    <div class="product-title text-bold my-3 text-start"
                         sec:authorize="hasRole('ADMIN') or hasRole('MODERATOR')"
                         th:text="'ID: ' + *{id}">
                    </div>
                    <div class="product-title text-bold my-3 text-start"
                         th:text="'Добавен на : ' + *{createDate.toLocalDate()}">
                    </div>
                    <div class="product-details my-4">
                        <p class="details-title text-color mb-1 text-start">Видове риба</p>
                        <p
                                class="description text-start">
                            <span th:text="*{fishNames}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5" th:object="${details}">
        <div class="row">
            <div class="product-details my-4 col-md-12">
                <p class="details-title text-color mb-1" th:text="'Информация за яз. ' + *{name}"></p>
                <p class="description" th:text="*{description}"></p>
            </div>
        </div>
        <div th:unless="*{iFrameMap} == null or *{iFrameMap.isEmpty()}"
             class="col-12">
            <div class="rounded">
                <p class="details-title text-color mb-1">Карта</p>
                <br>
                <iframe class="rounded w-100"
                        th:src="*{iFrameMap}"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <br>
        </div>

    </div>
    <!-- Gallery Start -->
    <div class="container-fluid gallery py-5 my-5">
        <div class="mx-auto text-center mb-5" style="

        max-width: 900px;">
            <h5 class="section-title px-3">Gallery</h5>
            <h1 class="mb-4">Галерия</h1>
            <p class="mb-0" th:text="'Галерия от най-популярните снимки на язовир ' + ${details.name}"></p>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" th:each="pic : ${pictures}">
                            <div class="gallery-item h-100">
                                <img th:src="${pic.getImageURL()}" class="img-fluid w-100 h-100 rounded" alt="Image">
                                <div class="gallery-plus-icon">
                                    <a th:href="${pic.getImageURL()}" data-lightbox="gallery-2" class="my-auto">
                                        <i class="fas fa-search fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery End -->
    <div class="col-sm-12 text-center"
         sec:authorize="hasRole('ADMIN') or hasRole('MODERATOR')"
         th:object="${details}">
        <p class="details-title text-color mb-1">Admin Panel</p>
        <br>
        <a class="btn btn-warning rounded-pill py-2 px-4 ms-lg-2 "
           data-abc="true"
           th:href="@{/reservoirs/reservoirsEdit/{id}(id = *{id})}">EDIT</a>
        <br>
        <br>
        <a class="btn btn-warning rounded-pill py-2 px-4 ms-lg-2 "
           data-abc="true"
           th:href="@{/reservoirs/gallery/{id}(id = *{id})}">EDIT GALLERY</a>
        <br>
        <form sec:authorize="hasRole('ADMIN')"
              th:method="DELETE"
              th:action="@{/reservoirs/delete/{id}(id = *{id})}"
              class="deleteReservoir text-end px-5 py-4"
              onsubmit="return confirmDeletion()">
            <input type="submit" value="DELETE" class="btn btn-danger rounded-pill py-2 px-4 ms-lg-2"/>
        </form>
    </div>

</main>
<!-- Footer Start -->
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<div>
    <th:block th:replace="~{fragments/js}"></th:block>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity=
                    "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity=
                    "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>
    <script>
        function confirmDeletion() {
            return confirm("Are you sure you want to delete this item?");
        }
    </script>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
        class="fa fa-arrow-up"></i></a>
</body>
</html>