<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Carp Map</title>
</head>

<body>

<th:block th:replace="~{fragments/topbar}"></th:block>

<th:block th:replace="~{fragments/navbar}"></th:block>

<div class="addRes">
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Add reservoirs</h2>

                        <!-- General Form Elements -->
                        <form th:method="POST"
                        th:action="@{/reservoirs/reservoirsAdd}"
                        th:object="${reservoirsAddDTO}">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Country</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Choose country</option>
                                        <option value="1">Bulgaria</option>
                                        <option value="2">Romania</option>
                                    </select>
                                </div>
                            </div>
<!--                            <div class="row mb-3">-->
<!--                                <label for="country"-->
<!--                                       class="col-sm-2 col-form-label">Country</label>-->
<!--                                <div class="col-sm-10">-->
<!--                                    <input th:field="*{country}"-->
<!--                                           th:errorclass="is-invalid"-->
<!--                                           type="text"-->
<!--                                           name="country"-->
<!--                                           id="country"-->
<!--                                           class="form-control">-->
<!--                                    <div class="text-primary"-->
<!--                                         th:if="${#fields.hasErrors('country')}"-->
<!--                                         th:errors="*{country}">Please, enter your name!-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="row mb-3">
                                <label for="city"
                                       class="col-sm-2 col-form-label">City</label>
                                <div class="col-sm-10">
                                    <input th:field="*{city}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="city"
                                           id="city"
                                           class="form-control">
                                    <div class="text-primary"
                                         th:if="${#fields.hasErrors('city')}"
                                         th:errors="*{city}">Please, enter your name!
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputText"
                                       class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input th:field="*{name}"
                                           th:errorclass="is-invalid"
                                            type="text"
                                           name="inputText"
                                           id="inputText"
                                           class="form-control">
                                    <div class="text-primary"
                                         th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <h6 class="card-title text-center">Add GPS Coordinates</h6>

                            <div class="row mb-3">
                                <label for="Latitude"
                                       class="col-sm-2 col-form-label">Latitude</label>
                                <div class="col-sm-10">
                                    <input th:field="*{latitude}"
                                           th:errorclass="is-invalid"
                                           type="number"
                                           name="Latitude"
                                           id="Latitude"
                                           class="form-control">
                                    <div class="text-primary"
                                         th:if="${#fields.hasErrors('latitude')}"
                                         th:errors="*{latitude}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="Longitude"
                                       class="col-sm-2 col-form-label">Longitude</label>
                                <div class="col-sm-10">
                                    <input th:field="*{longitude}"
                                           th:errorclass="is-invalid"
                                            type="number"
                                           name="Longitude"
                                           id="Longitude"
                                           class="form-control">
                                    <div class="text-primary"
                                         th:if="${#fields.hasErrors('longitude')}"
                                         th:errors="*{longitude}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="urlImage"
                                       class="col-sm-2 col-form-label">Add url image</label>
                                <div class="col-sm-10">
                                    <input th:field="*{urlImage}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="urlImage"
                                           id="urlImage"
                                           class="form-control">
                                    <div class="text-primary"
                                         th:if="${#fields.hasErrors('urlImage')}"
                                         th:errors="*{urlImage}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="formFile"
                                       class="col-sm-2 col-form-label">File Upload</label>
                                <div class="col-sm-10">
                                    <input type="file"
                                           name="formFile"
                                           id="formFile"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="createDate"
                                       class="col-sm-2 col-form-label">Create date</label>
                                <div class="col-sm-10">
                                    <input type="datetime-local"
                                           name="createDate"
                                           id="createDate"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                                <div class="col-sm-10">
                                    <input type="time" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="textArea"
                                       class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea name="textArea"
                                              id="textArea"
                                              class="form-control"
                                              style="height: 100px"></textarea>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                               value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            First radio
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                               value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Second radio
                                        </label>
                                    </div>
                                    <div class="form-check disabled">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios"
                                               value="option" disabled>
                                        <label class="form-check-label" for="gridRadios3">
                                            Third disabled radio
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Checkboxes</legend>
                                <div class="col-sm-10">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <label class="form-check-label" for="gridCheck1">
                                            Example checkbox
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck2" checked>
                                        <label class="form-check-label" for="gridCheck2">
                                            Example checkbox 2
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Disabled</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="Read only / Disabled" disabled>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Select</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Multi Select</label>
                                <div class="col-sm-10">
                                    <select class="form-select" multiple aria-label="multiple select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>
</div>

<!-- Footer Start -->
<th:block th:replace="~{fragments/footer}"></th:block>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<th:block th:replace="~{fragments/js}"></th:block>

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</body>

</html>