<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Edit Gallery - Carpmap.bg</title>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<div class="addRes">
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form th:method="POST"
                      th:action="@{/reservoirs/gallery/edit/{id}(id = ${idRes})}"
                      th:object="${editGalleryDTO}">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Edit Gallery</h2>
                            <div class="row mb-3" th:each="imas, iterStat : ${reservoirEditGalleryDTO}">
                                <label for="imageUrl"
                                       class="col-sm-2 col-form-label">Change Main Image</label>
                                <div class="col-sm-10" th:unless="iterStat == null">
                                    <input th:field="*{imageUrl[__${iterStat.index}__].imageUrl}"
                                           th:errorclass="bg-danger"
                                           th:value="${imas.getImageUrl()}"
                                           th:text="${imas.getImageUrl()}"
                                           type="text"
                                           name="imageUrl"
                                           id="imageUrl"
                                           class="form-control">
                                    <input type="hidden"
                                           th:field="*{imageUrl[__${iterStat.index}__].idPic}"
                                           th:value="${imas.idPic}"
                                           name="idPic"
                                           id="idPic">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('imageUrl')}"
                                         th:errors="*{imageUrl[__${iterStat.index}__].imageUrl}">Please, enter your
                                        name!
                                    </div>
                                </div>
                                <div class="col-sm-10 " th:unless="iterStat == null"
                                     style="max-width: 50%;">
                                    <th:block th:text="${imas.idPic}"></th:block>
                                    <br>
                                    <th:block th:text="${idRes}"></th:block>
                                    <br>
                                    <img th:src="${imas.getImageUrl()}" class="img-fluid rounded" alt="Image">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Save Images</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>

<th:block th:replace="~{fragments/js}"></th:block>
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</body>
</html>