<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>Edit - Carp Map</title>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<div class="addRes">
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Edit reservoirs</h2>

                        <!-- General Form Elements -->
                        <form th:method="POST"
                              th:action="@{/reservoirs/reservoirsEdit/{id}(id = *{id})}"
                              th:object="${reservoirsEditDTO}">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Country</label>
                                <div class="col-sm-10">
                                    <select th:field="*{country}"
                                            th:errorclass="is-invalid"
                                            name="country"
                                            id="country"
                                            class="form-select" aria-label="Default select example">

                                        <option th:each="country : ${allCountry}"
                                                th:text="${country.getCountry()}"
                                                th:value="${country.getCountry()}"
                                        >Bulgaria
                                        </option>
                                    </select>
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('country')}"
                                         th:errors="*{country}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="city"
                                       class="col-sm-2 col-form-label">City</label>
                                <div class="col-sm-10">
                                    <input th:field="*{city}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="city"
                                           id="city"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('city')}"
                                         th:errors="*{city}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name"
                                       class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input th:field="*{name}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="name"
                                           id="name"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}">Please, enter your name!
                                    </div>
                                    <div class="text-primary text-center"
                                         th:if="${isExistNameOfReservoir == true}"
                                    >Existing name
                                    </div>
                                </div>
                            </div>
                            <h6 class="card-title text-center">Add GPS Coordinates</h6>
                            <div class="row mb-3">
                                <label for="Latitude"
                                       class="col-sm-2 col-form-label">Latitude</label>
                                <div class="col-sm-10">
                                    <input th:field="*{latitude}"
                                           th:errorclass="is-invalid"
                                           type="number"
                                           name="Latitude"
                                           id="Latitude"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('latitude')}"
                                         th:errors="*{latitude}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="Longitude"
                                       class="col-sm-2 col-form-label">Longitude</label>
                                <div class="col-sm-10">
                                    <input th:field="*{longitude}"
                                           th:errorclass="is-invalid"
                                           type="number"
                                           name="Longitude"
                                           id="Longitude"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('longitude')}"
                                         th:errors="*{longitude}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="iFrameMap"
                                       class="col-sm-2 col-form-label">iFrame map</label>
                                <div class="col-sm-10">
                                    <input th:field="*{iFrameMap}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="iFrameMap"
                                           id="iFrameMap"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('iFrameMap')}"
                                         th:errors="*{iFrameMap}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <h6 class="card-title text-center">Add Image </h6>
                            <div class="row mb-3">
                                <label for="mainUrlImage"
                                       class="col-sm-2 col-form-label">Change Main Image</label>
                                <div class="col-sm-10">
                                    <input th:field="*{mainUrlImage}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           name="mainUrlImage"
                                           id="mainUrlImage"
                                           class="form-control">
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('mainUrlImage')}"
                                         th:errors="*{mainUrlImage}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="formFile"
                                       class="col-sm-2 col-form-label">File Upload</label>
                                <div class="col-sm-10">
                                    <input type="file"
                                           name="formFile"
                                           id="formFile"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="information"
                                       class="col-sm-2 col-form-label">Information</label>
                                <div class="col-sm-10">
                                    <textarea
                                            th:field="*{information}"
                                            th:errorclass="is-invalid"
                                            name="information"
                                            id="information"
                                            class="form-control"
                                            style="height: 100px"
                                            maxlength="240"></textarea>
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('information')}"
                                         th:errors="*{information}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="description"
                                       class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea
                                            th:field="*{description}"
                                            th:errorclass="is-invalid"
                                            name="description"
                                            id="description"
                                            class="form-control"
                                            style="height: 500px"
                                            maxlength="5000"></textarea>
                                    <div class="text-primary text-center"
                                         th:if="${#fields.hasErrors('description')}"
                                         th:errors="*{description}">Please, enter your name!
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Checkboxes</legend>
                                <div class="col-sm-10">
                                    <div th:each="fish : ${fishTypeNonExist}"
                                         class="form-check">
                                        <input th:field="*{fishName}"
                                               th:errorclass="is-invalid"
                                               th:value="${fish.fishName}"
                                               th:text="${fish.getFishName()}"
                                               class="form-check-input"
                                               type="checkbox"
                                               id="fishName"
                                               name="fishName">
                                        <label th:if="${#fields.hasErrors('fishName')}"
                                               th:errors="*{fishName}"
                                               class="form-check-label"
                                               for="fishName">
                                            Example checkbox
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Add date</label>
                                <div class="col-sm-10">
                                    <input th:field="*{createDate}"
                                           id="createDate"
                                           name="createDate"
                                           type="text"
                                           class="form-control"
                                           value="Read only / Disabled" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Modified date</label>
                                <div class="col-sm-10">
                                    <input th:field="*{modifiedDate}"
                                           id="modifiedDate"
                                           name="modifiedDate"
                                           type="text"
                                           class="form-control"
                                           value="Read only / Disabled" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Select type</label>
                                <div class="col-sm-10">
                                    <select th:field="*{reservoirType}"
                                            th:errorclass="is-invalid"
                                            id="reservoirType"
                                            name="reservoirType"
                                            class="form-select" aria-label="Default select example">
                                        <option value="">Open this select menu</option>
                                        <option th:each="type : ${T(com.example.carpmap.Models.Enums.ReservoirType).values()}"
                                                th:text="${type}"
                                                th:value="${type}"
                                                value="1">One
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Edit Reservoir</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer Start -->
<th:block th:replace="~{fragments/footer}"></th:block>
<!-- Footer End -->
<!-- JavaScript Libraries -->
<th:block th:replace="~{fragments/js}"></th:block>
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</body>
</html>