<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Язовири - CarpMap</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
    <meta name="title" content="Язовири">
    <meta name="description" content="Всички язовири в българия. Намерете информация за различните язовири">
    <meta name="author" content="Nikolay">
    <meta name="robots" content="index, follow">
    <!-- Open Graph тагове за социални мрежи -->
    <meta property="og:title" content="Язовири">
    <meta property="og:description" content="Всички язовири в българия. Намерете информация за различните язовири">
    <meta property="og:url" content="https://carpmap.online/reservoirs/reservoirsAll">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://carpmap.online/path-to-your-image.jpg">

    <!-- Twitter Card тагове -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Язовири">
    <meta name="twitter:description" content="Всички язовири в българия. Намерете информация за различните язовири">
    <meta name="twitter:url" content="https://carpmap.online/reservoirs/reservoirsAll">
    <meta name="twitter:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/p39fszwndstrcyovmpxk.jpg">
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<section id="explore" class="explore">
    <div class="container">
        <link rel="stylesheet" href="/css/style2.css">
        <div class="section-header">
            <h2 class="text-center">Язовири</h2>
            <p class="text-center">Тук ще намерите всички добавени язовири в CARP MAP</p>
        </div><!--/.section-header-->
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-1">
                <li class="nav-item px-1 my-3">
                    <div class="col-sm-12 text-end">
                        <a class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5"
                           th:href="@{/reservoirs/reservoirsByType/{type}(type = ALL)}">
                            <span style="width: 150px;">Всички</span>
                        </a>
                        <br>
                    </div>
                </li>
                <li class="nav-item px-1 my-3">
                    <a class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5"
                       th:href="@{/reservoirs/reservoirsByType/{type}(type = ЧАСТЕН)}">
                        <span style="width: 150px;">Частни</span>
                    </a>
                    <br>
                </li>
                <li class="nav-item px-1 my-3">
                    <a class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5"
                       th:href="@{/reservoirs/reservoirsByType/{type}(type = СВОБОДЕН)}">
                        <span style="width: 150px;">Държавни</span>
                    </a>
                    <br>
                </li>
            </ul>
        </div>
        <div class="explore-content">
            <div class="row">
                <div class=" col-md-4 col-sm-6"
                     th:each="res : ${allReservoir.getContent()}"
                     th:object="${res}">
                    <div class="single-explore-item">
                        <div class="single-explore-img">
                            <a class="image-all-reservoir" th:href="@{/reservoirs/{id}(id = *{id})}">
                                <img th:src="*{urlImage}" alt="explore image"></a>
                        </div>
                        <div class="single-explore-txt bg-theme-1">
                            <h3><a th:href="@{/reservoirs/{id}(id = *{id})}"
                                   th:text="'Язовир ' + *{name}">tommy helfinger bar</a></h3>
                            <p class="explore-rating-price">
                                <span class="explore-rating" >5.0</span>
                                <a th:href="@{/reservoirs/{id}(id = *{id})}"
                                   th:text="*{countVisitors != null ? countVisitors + ' Посетен' : 0 + ' Посетен'}" > 10 ratings</a>
                                <span th:if="*{countryCode == 'BG'}" class="explore-price-box">
											Държава:
											<span th:text=" България" class="explore-price">5$-300$</span>
										</span>
                                <span class="explore-type-box">
											Тип:
											<span th:text=" *{reservoirType}" class="explore-price">5$-300$</span>
										</span>
                            </p>
                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="explore-person-img">
                                            <a href="#">
                                                <img src="/images/277348542_5331251560231792_5412271903652794342_n.jpg"
                                                     alt="explore person">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <p th:text="*{information}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="explore-open-close-part">
                                <div class="row">
                                    <div class="col-sm-12 text-end">
                                        <a class="btn btn-primary rounded-pill py-2 px-4 ms-lg-2"
                                           data-abc="true"
                                           th:href="@{/reservoirs/{id}(id = *{id})}">Информация</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->
</section><!--/.explore-->
<!--<nav aria-label="Page navigation" class="d-flex justify-content-center py-2">-->
<!--    <ul th:fragment="ALL" class="pagination text-center">-->
<!--        <li th:class="${!allReservoir.hasPrevious()} ? 'page-item disabled' : 'page-item'">-->
<!--            <a class="page-link" th:if="${allReservoir.hasPrevious()}"-->
<!--               th:href="@{/reservoirs/reservoirsAll(page=${allReservoir.previousPageable().pageNumber})}">Previous</a>-->
<!--        </li>-->
<!--        <li th:each="i : ${#numbers.sequence(0, allReservoir.totalPages - 1)}"-->
<!--            th:class="${i == allReservoir.number} ? 'page-item active' : 'page-item'">-->
<!--            <a class="page-link" th:href="@{/reservoirs/reservoirsAll(page=${i})}" th:text="${i + 1}"></a>-->
<!--        </li>-->
<!--        <li th:class="${!allReservoir.hasNext()} ? 'page-item disabled' : 'page-item'">-->
<!--            <a class="page-link" th:if="${allReservoir.hasNext()}"-->
<!--               th:href="@{/reservoirs/reservoirsAll(page=${allReservoir.nextPageable().pageNumber})}">Next</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<nav aria-label="Page navigation " class="d-flex justify-content-center">
    <ul th:fragment="ALL" class="pagination text-center">

        <!-- Previous Page Button -->
        <li th:class="${allReservoir.hasPrevious()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allReservoir.hasPrevious()}"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.previousPageable().pageNumber})}"><-</a>
        </li>

        <!-- First Page -->
        <li th:class="${allReservoir.number == 0} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=0)}" th:text="1"></a>
        </li>

        <!-- Dots before the current page if needed -->
        <li th:if="${allReservoir.number > 2}">
            <span class="page-link">...</span>
        </li>

        <!-- Pages around the current page -->
        <li th:each="i : ${#numbers.sequence(allReservoir.number - 1, allReservoir.number + 1)}"
            th:if="${i > 0 && i < allReservoir.totalPages - 1}"
            th:class="${i == allReservoir.number} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${i})}" th:text="${i + 1}"></a>
        </li>

        <!-- Dots after the current page if needed -->
        <li th:if="${allReservoir.number < allReservoir.totalPages - 3}">
            <span class="page-link">...</span>
        </li>

        <!-- Last Page -->
        <li th:if="${allReservoir.totalPages > 1}"
            th:class="${allReservoir.totalPages - 1 == allReservoir.number} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.totalPages - 1})}"
               th:text="${allReservoir.totalPages}"></a>
        </li>

        <!-- Next Page Button -->
        <li th:class="${allReservoir.hasNext()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allReservoir.hasNext()}"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.nextPageable().pageNumber})}">-></a>
        </li>
    </ul>
</nav>

<br>
<th:block th:replace="~{fragments/footer}"></th:block>
<th:block th:replace="~{fragments/js}"></th:block>
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
        class="fa fa-arrow-up"></i></a>
</body>

</html>