<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Язовири и водоеми в България - Carpmap.bg</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website"
          th:content="'язовири, информация за язовири, срещани язовири в българия, частни и държавни язовири, '">
    <meta name="title" content="Язовири и водоеми в България - Намерете информация за риболов и локации">
    <meta name="description"
          content="Намерете информация за всички язовири и водоеми в България. Вижте снимки, видове риба, локации и други полезни детайли.">
    <meta name="author" content="Nikolay">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Язовири и водоемите в България">
    <meta property="og:description"
          content="Всички язовири в България и водоеми. Намерете информация,снимки, видове риба, локация, местоположение за различните язовири и водоеми">
    <meta property="og:url" content="https://carpmap.bg/reservoirs/reservoirsByType/reservoirs">
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/p39fszwndstrcyovmpxk.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Язовири">
    <meta name="twitter:description" content="Всички язовири в България. Намерете информация за различните язовири">
    <meta name="twitter:url" content="https://carpmap.bg/reservoirs/reservoirsByType/reservoirs">
    <meta name="twitter:image"
          content="https://res.cloudinary.com/dsy8h2u3x/image/upload/v1713743723/carouse/p39fszwndstrcyovmpxk.jpg">
    <link rel="canonical" href="https://carpmap.bg/reservoirs/reservoirsByType/reservoirs"/>
    <meta property="og:type" content="website">
    <meta property="og:locale" content="bg_BG">
    <th:block th:replace="~{fragments/head}"></th:block>
    <th:block th:replace="~{fragments/analytics}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<div class="container-fluid bg-breadcrumb reservoirPicCover">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4 reservoirH1Tag">Намерете информация за всички язовири и водоеми в
            България</h1>
        <div th:switch="${type}">
            <h2 class="text-center text-white reservoirH2Tag" th:case="'reservoirs'">Всички частни и държавни
                язовири</h2>
            <h2 class="text-center text-white reservoirH2Tag" th:case="'private_reservoir'">Всички частни язовири</h2>
            <h2 class="text-center text-white reservoirH2Tag" th:case="'free_reservoir'">Всички държавни язовири</h2>
            <h2 class="text-center text-white reservoirH2Tag" th:case="'countVisitors'">Най-посещавани язовири</h2>
            <h2 class="text-center text-white reservoirH2Tag" th:case="*">Carpmap.bg</h2>
        </div>
    </div>
</div>
<nav th:unless="${allReservoir.isEmpty()}"
     aria-label="Page navigation "
     class="d-flex justify-content-center mt-4">
    <ul th:fragment="ALL" class="pagination text-center">

        <li th:class="${allReservoir.hasPrevious()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allReservoir.hasPrevious()}"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.previousPageable().pageNumber})}"><-</a>
        </li>

        <li th:class="${allReservoir.number == 0} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=0)}" th:text="1"></a>
        </li>

        <li th:if="${allReservoir.number > 2}">
            <span class="page-link">...</span>
        </li>

        <li th:each="i : ${#numbers.sequence(allReservoir.number - 1, allReservoir.number + 1)}"
            th:if="${i > 0 && i < allReservoir.totalPages - 1}"
            th:class="${i == allReservoir.number} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${i})}"
               th:text="${i + 1}"></a>
        </li>

        <li th:if="${allReservoir.number < allReservoir.totalPages - 3}">
            <span class="page-link">...</span>
        </li>

        <li th:if="${allReservoir.totalPages > 1}"
            th:class="${allReservoir.totalPages - 1 == allReservoir.number} ? 'page-item active' : 'page-item'">
            <a class="page-link"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.totalPages - 1})}"
               th:text="${allReservoir.totalPages}"></a>
        </li>

        <li th:class="${allReservoir.hasNext()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allReservoir.hasNext()}"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.nextPageable().pageNumber})}">-></a>
        </li>
    </ul>
</nav>
<section id="explore" class="explore">
    <div class="container-fluid  position-relative pb-5">
        <div class="container">
            <form th:method="GET"
                  th:action="@{/searchReservoir}"
                  th:object="${searchDTO}">
                <div class="searchIp position-relative rounded-pill w-100 mx-auto p-1">
                    <input th:field="*{reservoir}"
                           class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5"
                           name="reservoir"
                           id="reservoir"
                           type="text"
                           placeholder="Търси язовир"/>
                    <button type="submit"
                            class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2"
                            style="top: 50%; right: 6px; transform: translateY(-50%)">Търси
                    </button>
                </div>
                <div class="text-primary text-center"
                     th:if="${#fields.hasErrors('reservoir')}"
                     th:errors="*{reservoir}">Please, enter your name!
                </div>
                <br>
            </form>
        </div>
    </div>
    <div class="container products">
        <link rel="stylesheet" href="/css/style2.css">
        <div>
            <p th:if="${allReservoir.isEmpty()}"
               class="text-center fw-bold py-5">НЕ СА ОТКРИТИ РЕЗУЛТАТИ</p>
            <p th:unless="${allReservoir.isEmpty()}"
               class="text-center">Тук ще намерите всички добавени язовири - Carpmap.bg</p>
        </div><!--/.section-header-->
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center mb-1">
                <li class="nav-item px-1 my-3">
                    <div class="col-sm-12 text-end">
                        <a class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5"
                           th:href="@{/reservoirs/reservoirsByType/{type}(type = reservoirs)}">
                            <span style="width: 150px;">Всички</span>
                        </a>
                        <br>
                    </div>
                </li>
                <li class="nav-item px-1 my-3">
                    <a class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5"
                       th:href="@{/reservoirs/reservoirsByType/{type}(type = private_reservoir)}">
                        <span style="width: 150px;">Частни</span>
                    </a>
                    <br>
                </li>
                <li class="nav-item px-1 my-3">
                    <a class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-5"
                       th:href="@{/reservoirs/reservoirsByType/{type}(type = free_reservoir)}">
                        <span style="width: 150px;">Държавни</span>
                    </a>
                    <br>
                </li>
                <li class="nav-item px-1 my-3">
                    <a class="btn-hover-bg btn btn-primary rounded-pill text-white  py-2 px-4"
                       th:href="@{/reservoirs/reservoirsByType/{type}(type = countVisitors)}">
                        <span style="width: 150px;">Най-посещавани</span>
                    </a>
                    <br>
                </li>
            </ul>
        </div>
        <div class="explore-content">
            <div class="row">
                <div class="cardres col-md-4 col-sm-6"
                     th:each="res : ${allReservoir.getContent()}"
                     th:object="${res}">
                    <div class="single-explore-item">
                        <div class="single-explore-img">
                            <a class="image-all-reservoir" th:href="@{/reservoirs/{urlName}(urlName = *{urlName})}">
                                <img th:src="*{urlImage}" alt="explore image"></a>
                        </div>
                        <div class="single-explore-txt bg-theme-1">
                            <h1 style="font-size: 2rem"><a
                                    th:href="@{/reservoirs/{urlName}(urlName = *{urlName})}"
                                    th:text="'Язовир ' + *{name}"></a></h1>
                            <p class="explore-rating-price">

                                <span class="explore-rating">5.0</span>

                                <a th:href="@{/reservoirs/{urlName}(urlName = *{urlName})}"
                                   th:text="*{countVisitors != null ? countVisitors + ' Посетен' : 0 + ' Посетен'}"> 10
                                    ratings</a>
                                <span th:if="*{countryCode == 'BG'}" class="explore-price-box">
											Държава:
											<span th:text=" България" class="explore-price">5$-300$</span>
										</span>
                                <span class="explore-type-box">
											Тип:
											<span th:text=" *{reservoirType}" class="explore-price">5$-300$</span>
										</span>
                            </p>
                            <div class="explore-person">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p th:text="*{information}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="explore-open-close-part">
                                <div class="row">
                                    <div class="col-sm-12 text-end">
                                        <a class="btn btn-primary rounded-pill py-2 px-4 ms-lg-2"
                                           data-abc="true"
                                           th:href="@{/reservoirs/{urlName}(urlName = *{urlName})}">Информация</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<nav th:unless="${allReservoir.isEmpty()}"
     aria-label="Page navigation "
     class="d-flex justify-content-center mt-4">
    <ul th:fragment="ALL" class="pagination text-center">

        <li th:class="${allReservoir.hasPrevious()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allReservoir.hasPrevious()}"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.previousPageable().pageNumber})}"><-</a>
        </li>

        <li th:class="${allReservoir.number == 0} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=0)}" th:text="1"></a>
        </li>

        <li th:if="${allReservoir.number > 2}">
            <span class="page-link">...</span>
        </li>

        <li th:each="i : ${#numbers.sequence(allReservoir.number - 1, allReservoir.number + 1)}"
            th:if="${i > 0 && i < allReservoir.totalPages - 1}"
            th:class="${i == allReservoir.number} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${i})}"
               th:text="${i + 1}"></a>
        </li>

        <li th:if="${allReservoir.number < allReservoir.totalPages - 3}">
            <span class="page-link">...</span>
        </li>

        <li th:if="${allReservoir.totalPages > 1}"
            th:class="${allReservoir.totalPages - 1 == allReservoir.number} ? 'page-item active' : 'page-item'">
            <a class="page-link"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.totalPages - 1})}"
               th:text="${allReservoir.totalPages}"></a>
        </li>

        <li th:class="${allReservoir.hasNext()} ? 'page-item' : 'page-item disabled'">
            <a class="page-link" th:if="${allReservoir.hasNext()}"
               th:href="@{/reservoirs/reservoirsByType/{type}(type=${type},page=${allReservoir.nextPageable().pageNumber})}">-></a>
        </li>
    </ul>
</nav>
<br>
<footer>
    <th:block th:replace="~{fragments/footer}"></th:block>
</footer>
<th:block th:replace="~{fragments/js}"></th:block>
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
        class="fa fa-arrow-up"></i></a>
</body>
</html>