<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server information</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="website">
    <th:block th:replace="~{fragments/head}"></th:block>
    <style>
        .responsive-text {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    </style>
</head>

<body>
<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>
<!-- Donate Start -->
<div class="container-fluid py-5"
     style="background: linear-gradient(rgba(19, 53, 123, 0.3), rgba(19, 53, 153, 0.3)); object-fit: cover;">
    <div class="container py-5 text-center">
        <div class="row justify-content-center donate">
            <div class="col-lg-12">
                <i class="fas fa-server fa-2x text-primary"></i>
                <h1 class="display-4">CarpMap</h1>
                <h1 class="mb-3">Информация за сървъра</h1>
                <h3 class="mb-2" th:text="'CarpMap: ' + ${versionApp} + 'v'"></h3>
                <h3 class="mb-4">Състояние на сървъра : Online</h3>
                <br>
                <div class="row">
                    <div class="col-md-4 py-4">
                        <h4 class="mb-3 text-uppercase">Memory</h4>
                        <h5>Used Memory</h5>
                        <th:block th:text="${usedMemory}"></th:block>
                        <br>
                        <h5>Free memory</h5>
                        <th:block th:text="${freeMemory}"></th:block>
                        <br>
                        <h5>Total Memory</h5>
                        <th:block th:text="${totalMemory}"></th:block>
                    </div>
                    <div class="col-md-4 py-4">
                        <h4 class="mb-3 text-uppercase">CPU</h4>
                        <h5>Uptime</h5>
                        <th:block th:text="${uptime}"></th:block>
                        <br>
                        <h5>CPU</h5>
                        <th:block th:text="${cpu}"></th:block>
                        <br>
                        <h5>CPU load</h5>
                        <th:block th:text="${cpuLoad}"></th:block>
                    </div>
                    <div class="col-md-4 py-4">
                        <h4 class="mb-3 text-uppercase">INFO FOR VISITORS</h4>
                        <h5>Visitors</h5>
                        <th:block th:text="${counter}"></th:block>
                        <br>
                        <h5>Visitors last 24h</h5>
                        <th:block th:text="${countLastDayVisitor}"></th:block>
                        <br>
                        <h5>Last new day visitors</h5>
                        <th:block th:text="${newUserForToday}"></th:block>
                    </div>
                    <div class="col-md-4 py-4">
                        <h4 class="mb-3 text-uppercase">INFO FROM DB</h4>
                        <h5>All Reservoir</h5>
                        <th:block th:text="${allReservoir}"></th:block>
                        <br>
                        <h5>All Users</h5>
                        <th:block th:text="${allUsers}"></th:block>
                        <br>
                        <h5>Picture Cloudinary</h5>
                        <th:block th:text="${allPictureCloudinary}"></th:block>
                    </div>
                    <div class="col-md-4 py-4">
                        <h4 class="mb-3 text-uppercase">SSD INFO</h4>
                        <h5>Usable Space</h5>
                        <th:block th:text="${usableSpace}"></th:block>
                        <br>
                        <h5>Free Space</h5>
                        <th:block th:text="${freeSpace}"></th:block>
                        <br>
                        <h5>totalDisk</h5>
                        <th:block th:text="${totalDisk}"></th:block>
                    </div>
                    <div class="col-md-4 py-4">
                        <h4 class="mb-3 text-uppercase">Network Info</h4>
                        <h5>networkName</h5>
                        <th:block th:text="${networkName}"></th:block>
                        <br>
                        <h5>bytesSent </h5>
                        <th:block th:text="${bytesSent}"></th:block>
                        <br>
                        <h5>bytesReceived</h5>
                        <th:block th:text="${bytesReceived}"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>-->
<!--    // Извличаме JSON информацията за сървъра чрез fetch()-->
<!--    fetch('/admin/server-info')-->
<!--        .then(response => response.json())-->
<!--        .then(data => {-->
<!--            // Показваме информацията в HTML-->
<!--            document.getElementById('serverStatus').textContent = 'Status: ' + data.status;-->
<!--            document.getElementById('serverMetrics').textContent = 'Uptime: ' + data.uptime + ', Active Users: ' + data.activeUsers;-->
<!--        })-->
<!--        .catch(error => console.error('Error fetching server info:', error));-->
<!--</script>-->

<!-- Donate End -->
<!-- Footer Start -->
<th:block th:replace="~{fragments/footer}"></th:block>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
<!-- JavaScript Libraries -->
<th:block th:replace="~{fragments/js}"></th:block>
</body>

</html>