<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
    <title>CarpMap Message</title>
    <meta http-equiv="refresh" content="10;url=/" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>

<th:block th:replace="~{fragments/topbar}"></th:block>
<th:block th:replace="~{fragments/navbar}"></th:block>

<main>
    <!-- 404 Start -->
    <div class="container-fluid py-5"
         style="background: linear-gradient(rgba(19, 53, 123, 0.3), rgba(19, 53, 153, 0.3)); object-fit: cover;">
        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="mb-4 text-dark"
                        th:text="*{message}">Page Not Found</h1>
                    <p class="mb-4 text-dark">Връщане към началото на сайта след 10 секунди</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->

    <th:block th:replace="~{fragments/footer}"></th:block>
    <th:block th:replace="~{fragments/js}"></th:block>
</main><!-- End #main -->

<!-- Back to Top -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

</body>
</html>